<div class="container">
            <div class="row">
				<div class="col-md-3 navbar-header-gst">
					 	<div class="navbar-brand">
							<a href="index.html"><h2 class="gst_logo">GST</h2></a>
						</div>
					</div>
               		<div class="col-md-6">
					</div>
					<div class="col-md-3">
						<div class="user_profile">
						 <label>Contact Mail</label>
								  <div class="btn-group pull-right" role="group">
									<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  User email
									  <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
									  <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
									  <li><a href="#"><i class="fa fa-cog"></i> Setting</a></li>
									  <li><a href="#"><i class="fa fa-key"></i> Logout</a></li>
									</ul>
								  </div>					 	
						</div>
				</div>
			</div>
	</div>
	
	<header>
        <div class="container-fluid">
            <div class="row">                
                    <!-- Navigation  navbar-static-top -->
                    <nav class="navbar navbar-inverse">
                        <div class="container navbar-header-gst">
                            <div class="navbar-header page-scroll">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul class="nav navbar-nav">
                                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                                       <li>
										<a class="page-scroll" href="#">User Name <span> GSTIN No</span></a>
									</li>
									<li>
								<a class="page-scroll" href="user">Dashboard</a>
							</li>
							<li>
								<a class="page-scroll" href="workreturns">Returns</a>
							</li>
							<li>
								<a class="page-scroll" href="notification">Notification </a>
							</li>
							<li>
								<a class="page-scroll" href="update">Updates </a>
							</li>
							<li>
								<a class="page-scroll" href="videos">Videos </a>
							</li>                       
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
					</nav>
            </div>
        </div>
    </header>
	
  
	<div class="clearfix"></div>	
    <div class="section-bottom-50 container">
			<div class="row">
							<div class="col-lg-3 col-xs-12 col-sm-3 text-center work-border-right">
							<a routerLink="/customer">
								<div class="alert work-success well-work-left" role="alert">
								  Customer
								</div>
							</a>
							<a routerLink="/vendor">
								<div class="alert alert-success well-work-left" role="alert">
								  Vendor
								</div>
							</a>
							<a routerLink="/goods">
								<div class="alert alert-success well-work-left" role="alert">
								  Goods/Services
								</div>
							</a>
							<a routerLink="/workreturns">
								<div class="alertgst alert-success well-work-left" role="alert">
								  Work on Returns
								</div>
							</a>
							
							</div>
							
							<div class="col-lg-9 col-xs-12 col-sm-9 text-center">
								<div class="row">
									<div class="col-lg-12">
										<a href=""><div class="well well-work">
											 <h3 class="text-primary"><b>Information</b></h3>
										 </div>	</a>									
									</div><div class="col-lg-12">
										<a href=""><div class="well well-work">
											 <h3 class="text-primary"><b>Information</b></h3>
										 </div>	</a>									
									</div><div class="col-lg-12">
										<a href=""><div class="well well-work">
											 <h3 class="text-primary"><b>Information</b></h3>
										 </div>	</a>									
									</div><div class="col-lg-12">
										<a href=""><div class="well well-work">
											 <h3 class="text-primary"><b>Information</b></h3>
										 </div>	</a>									
									</div>
									
								</div> 
							
							</div>
							
		
	           
			</div>
        </div>

 

    <footer class="unicod-footer bg-style">
       
        <div class="container-fluid unicod-copyright">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">  
                    <div class="Copyright">
                        <p>Copyright 2017, GST.  All Rights Reserved </p>
                    </div>
                </div>
           </div>
        </div>
    </footer>