
<div class="clearfix"></div>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<h3 class="text-primary">
				<b>Goods/Services</b>
			</h3>
		</div>

		<!-- <div class="col-md-2 col-xs-12">
			<div class="text-right">
				<input type="file" class="upload" (change)="onCSVFilePicked($event.target.files)" value="Import CSV" accept=".csv">
			</div>
		</div> -->

		<div class="col-xs-6 col-sm-9 text-right">

			<a href="" data-toggle="modal" data-target=".bs-upload-sm">
				<input type="button" class="btn btn-primary" value="Import/Export">
			</a>

			<a href="#" data-toggle="modal" data-target=".bs-GSTIN-lg">
				<input type="button" class="btn btn-success" value="Add New">
			</a>
		</div>


		<div class="clearfix"></div>


		<div class="col-md-12 col-sm-12 section-top-20 section-bottom-30">

			<div class="table-responsive no-padding">
				<table class="table table-condensed  table-hover table-bordered">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="30%">Description</th>
							<th width="20%">HSN Code</th>
							<th width="15%">Unit</th>
							<th width="15%">Rate</th>
							<th width="15%" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of goodsAndServicesDataList;let i = index;">
							<td align="center">{{i+1}}</td>
							<td align="center">{{item.description}}</td>
							<td align="center">{{item.hsn_code}}</td>
							<td align="center">{{item.unit}}</td>
							<td align="center">{{item.rate}}</td>
							<td align="center">
								<a data-toggle="modal" data-target=".bs-goods-lg-edit">
									<button class="fa fa-edit btn btn-primary btn-sm" title="Edit" (click)="editGoodsServicesRecord(item)"></button>
								</a>
								<a href="" data-toggle="modal" data-target=".bs-delete-sm">
									<button class="fa fa-trash btn btn-danger btn-sm" title="Delete" (click)="recordToDelete(item)"></button>
								</a>
							</td>
						</tr>

					</tbody>
				</table>


				<ul class="pagination btn-sm">
					<li [ngClass]="{disabled:pager.currentPage === 1}">
						<a (click)="getStategetGoodsAndServicesListList(pager.currentPage - 1)">Previous</a>
					</li>

					<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
						<a (click)="getGoodsAndServicesList(page)">{{page}}</a>
					</li>

					<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a (click)="getGoodsAndServicesList(pager.currentPage + 1)">Next</a>
					</li>
				</ul>
			</div>


		</div>
	</div>
</div>


<div class="modal fade bs-GSTIN-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content section-form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title modal-text" align="center">
					<b> Add New Goods/Services</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<form [formGroup]="addNewGoodsForm" novalidate (ngSubmit)="saveGoodsAndServices(addNewGoodsForm.valid)">
								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<textarea type="text" class="form-control" formControlName="description" placeholder="Description" required></textarea>
									<small [hidden]="addNewGoodsForm.controls.description.valid || (addNewGoodsForm.controls.description.pristine && !submitted)">
										Description is required !
									</small>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="hsn_code" placeholder="HSN Code">
									<small [hidden]="addNewGoodsForm.controls.hsn_code.valid || (addNewGoodsForm.controls.hsn_code.pristine && !submitted)">
										HSN Code is required !
									</small>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<select class="form-control" formControlName="rate" required>
										<option value="Select Rate" nam="Select Rate" selected="selected">Select Rate</option>
										<option value="0.1%">0.1%</option>
										<option value="0.5%">0.5%</option>
										<option value="3%">3%</option>
										<option value="5%">5%</option>
										<option value="12%">12%</option>
										<option value="18%">18%</option>
										<option value="28%">28%</option>
									</select>
									<small *ngIf="addNewGoodsForm.controls.rate.value=='Select Rate' && submitted">
										Please select rate !
									</small>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<select class="form-control" formControlName="unit" required>
										<option value="Select Unit" name="Select Unit" selected="selected">Select Unit</option>
										<option value="Kilogram">Kilogram</option>
										<option value="Gram">Gram</option>
										<option value="Meter">Meter</option>
									</select>
									<small *ngIf="addNewGoodsForm.controls.unit.value=='Select Unit' && submitted">
										Please select unit !
									</small>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12 form-group" align="center">
									<button type="submit" [disabled]="!addNewGoodsForm.valid" class="btn btn-primary">Create</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->

<!-- Modal -->

<!-- Edit Modal -->

<div class="modal fade bs-goods-lg-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content section-form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeBtn2 aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title modal-text" align="center">
					<b> Edit Goods and Services</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<form [formGroup]="myFormEdit" novalidate (ngSubmit)="updateGoodsAndServicesRecord(myFormEdit.valid)">
								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<textarea type="text" class="form-control" formControlName="descriptionEdit" placeholder="Description" required></textarea>
									<small [hidden]="myFormEdit.controls.descriptionEdit.valid || (myFormEdit.controls.descriptionEdit.pristine && !editSubmitted)">
										Description is required !
									</small>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="hsn_code_edit" placeholder="HSN Code" required>
									<small [hidden]="myFormEdit.controls.hsn_code_edit.valid || (myFormEdit.controls.hsn_code_edit.pristine && !editSubmitted)">
										HSN Code is required !
									</small>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<select class="form-control" formControlName="rateEdit" required [(ngModel)]="rateEdit">
										<option value="-1" selected="selected" name="Select Rate">Select Rate</option>
										<option value="0.1%">0.1%</option>
										<option value="0.5%">0.5%</option>
										<option value="3%">3%</option>
										<option value="5%">5%</option>
										<option value="12%">12%</option>
										<option value="18%">18%</option>
										<option value="28%">28%</option>
									</select>
									<small *ngIf="myFormEdit.controls.rateEdit.value=='-1' && editSubmitted">
										Please select rate !
									</small>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<select class="form-control" formControlName="unitEdit" required [(ngModel)]="unitEdit">
										<option value="-1" selected="selected" name="Select Unit">Select Unit</option>
										<option value="Kilogram">Kilogram</option>
										<option value="Gram">Gram</option>
										<option value="Meter">Meter</option>
									</select>
									<small *ngIf="myFormEdit.controls.unitEdit.value=='-1' && editSubmitted">
										Please select unit !
									</small>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12 form-group" align="center">
									<button [disabled]="!myFormEdit.valid" type="submit" class="btn btn-primary">Update</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->

<!-- delete Start -->

<div class="modal fade bs-delete-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeBtn3 aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<h4 class="text-blue">Sure, you want to delete ?
									<br>
									<br>
								</h4>
							</div>

							<div class="text-center">
								<input type="button" class="btn btn-success" (click)="deleteRecord()" value="Yes"> &nbsp; &nbsp;
								<input type="button" class="btn btn-primary" data-dismiss="modal" value="No">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- delete end  -->

<!-- Modal -->

<div class="modal fade bs-upload-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="text-blue text-center">Choose Import/Export</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center section-top-10 section-bottom-40">
							<a href="" data-toggle="modal" data-target=".bs-Import-sm">
								<input type="button" class="btn btn-success" data-dismiss="modal" value="Import Excel/CSV">
							</a> &nbsp; &nbsp; &nbsp;
							<a href="" data-toggle="modal" data-target=".bs-Export-sm">
								<input type="button" class="btn btn-primary" data-dismiss="modal" value="Export Excel/CSV ">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade bs-Import-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="text-blue text-center">Import Customer data</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row" align="center">
						<div class="col-md-12 col-sm-12 col-xs-12 section-top-10 section-bottom-20">
							<p align="center">Please choose Excel/CSV file</p>
							<br>

							<div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1">
								<!-- <input type="file" value=""> -->
								<input type="file" class="btn btn-success" (change)="onCSVFilePicked($event.target.files)" accept=".csv,.xlsx">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
								<input type="button" class="btn btn-primary" value="Upload" (click)="uploadCsvFileToServer()">
							</div>
						</div>
						<p class="text-info text-center">Successfully file uploaded</p>
					</div>
					<div align="center">
						<input type="button" class="btn btn-success" data-dismiss="modal" value="Close">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="modal fade bs-Export-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="text-blue text-center">Export Customer data</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row" align="center">
						<div class="col-md-12 col-sm-12 col-xs-12 section-top-10 section-bottom-20">
							<!-- <p align="center">Please choose Excel/CSV file</p> -->
							<br>
							<div align="center">
								<input type="button" class="btn btn-primary" value="Download" (click)="downloadJSONTOCSV()">
							</div>
						</div>
						<!-- <p class="text-info text-center">Successfully file uploaded</p> -->
					</div>
					<div align="center">
						<input type="button" class="btn btn-success" data-dismiss="modal" value="Close">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Modal End -->