<p>
  videoslink works!
</p>
 <!--preloader-->
    <!-- Main Header start -->
    <header class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Navigation -->
                    <nav class="navbar navbar-default navbar-fixed-top main-nav">
                        <div class="container">
                            <div class="navbar-header page-scroll">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand">
                                    <a href="index.html"><!--<img src="images/logo.png" alt="GST">--><h2><strong>GST</strong></h2></a>
                                </div>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                                    <li>
										<a class="page-scroll" href="#">HSN/SAC SEARCH</a>
									</li>
									<li>
										<a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-modal-lg">REGISTRATION</a>
									</li>
									<li>
										<a class="page-scroll" href="#"  data-toggle="modal" data-target=".bs-login-sm">LOGIN</a>
									</li>                           
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- pricing Section -->
    <section class="unicod-section unicod-pricing-fild  section-top-20">
        <div class="container">
            <div class="row">
				<div class="col-lg-12">    
				 <div class="unicod-section-title-one">
                        <h2 class="comon-color">VIDEOS LINK </h2>
                        <div class="collor-bottom-one"></div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
				</div>                       
                      
                <div class="col-md-8 col-sm-6">
                    <div class="pricing-tabile">
                       
                        <ul class="tabile">
						
                            <li>
								<div class="media">
									<div class="media-left">
								   		<iframe width="190" height="110" src="https://www.youtube.com/embed/qrC8Lhl82Ms" frameborder="0" allowfullscreen></iframe>  
									</div>								  
								  <div class="media-body">
									<h4 class="media-heading"><b>Why do we use it</b> Prepare GSTR1 in  Excel company</h4>	
									<p>You are now using GST Software No download required. Use it in your browser Create all invoices and file GST Returns Free training to help you with using GST Software</p>
								  </div>								  
								</div>
							</li>
                            <li>
								<div class="media">
									<div class="media-left">
								   		<iframe width="190" height="110" src="https://www.youtube.com/embed/uiwuoYxv-4I" frameborder="0" allowfullscreen></iframe>  
									</div>								  
								  <div class="media-body">
									<h4 class="media-heading"><b>Impact of GST on Products Price | </b> Only Example company</h4>	
									<p>File GSTR1 seamlessly before 10th SeptYou can attend our Free training conducted by GST Experts in English & Hindi to help you understand GST & GST software</p>
								  </div>								  
								</div>
							</li>
						
                            <li>
								<div class="media">
									<div class="media-left">
								   		<iframe width="190" height="110" src="https://www.youtube.com/embed/qrC8Lhl82Ms" frameborder="0" allowfullscreen></iframe>  
									</div>								  
								  <div class="media-body">
									<h4 class="media-heading"><b>Why do we use it</b> Prepare GSTR1 in  Excel company</h4>	
									<p>You are now using GST Software No download required. Use it in your browser Create all invoices and file GST Returns Free training to help you with using GST Software</p>
								  </div>								  
								</div>
							</li>
                            <li>
								<div class="media">
									<div class="media-left">
								   		<iframe width="190" height="110" src="https://www.youtube.com/embed/uiwuoYxv-4I" frameborder="0" allowfullscreen></iframe>  
									</div>								  
								  <div class="media-body">
									<h4 class="media-heading"><b>Impact of GST on Products Price | </b> Only Example company</h4>	
									<p>File GSTR1 seamlessly before 10th SeptYou can attend our Free training conducted by GST Experts in English & Hindi to help you understand GST & GST software</p>
								  </div>								  
								</div>
							</li>
							
							
                            
					
                        </ul>
					</div>
                </div>
            
                <div class="col-md-4 col-sm-6">
                    <div class="well">
					 <ul class="tabile">
                        <li>You are now using GST Software</li>
						<li>No download required. Use it in your browser</li>
						<li>Create all invoices and file GST Returns</li>
						<li>Free training to help you with using GST Software</li>
						<li>Work offline with Excel Utility Tool</li>
						<li>You can attend our Free training conducted by GST Experts in English & Hindi to help you understand GST & GST software</li>
					</ul>					
                </div>
            </div>
        	</div>
		</div>
    </section>

 

    <!-- REGISTRATION Start -->

	<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content section-salect">
			<div class="modal-body">
			  <div class="service-section">
			  <div class="row">
					 <div class="col-md-1 col-sm-1"></div>
					 <div class="col-md-10 col-sm-10">
					 <div class="col-md-4 col-sm-6 text-center">
                    <div class="unicod-service-col">
                        <h4>&nbsp;<br>Business User<br> &nbsp;</h4>
                    </div>
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Select</button>
                </div>
					<div class="col-md-4 col-sm-6 text-center">
						<div class="unicod-service-col">
							<h4>Charted Accountant <br> Associate<br> Tax Practioner</h4>
						</div>
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Select</button>
					</div>
					<div class="col-md-4 col-sm-6 text-center">
						<div class="unicod-service-col">
							<h4>&nbsp;<br>Business User Other<br>&nbsp;</h4>
						</div>
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Select</button>
					</div>
				</div>              
				</div>              
				</div>    
		  </div>
		</div>
	  </div>
	</div>
    <!-- REGISTRATION End -->

    <!-- After REGISTRATION Form Start -->

		<div class="modal fade bs-REGISTRATION2-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
				  <div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
						<h4 class="modal-title modal-text"> REGISTRATION</h4>
					  </div>
						<div class="modal-body">
					  <div class="service-section">
					  <div class="row">
							 <div class="col-md-1 col-sm-1"></div>
							 <div class="col-md-10 col-sm-10">
												 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Name" name="name" id="name" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Contact No." name="contact" id="contact" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="PAN No." name="pan_no" id="pan_no" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="GSTIN" name="gstin" id="gstin" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Address" name="address" id="address" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<select class="form-control">
									<option value="" selected="selected"> -- Select State -- </option>
									<option value="">Jabalpur</option>
									<option value="">Bhopal</option>
									<option value="">Raipur</option>
								</select>				
							</div>				 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="City" name="city" id="city" required>
							</div>		 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Paasword" name="paasword" id="paasword" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Confirm Paasword" name="confirm_paasword" id="confirm_paasword" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="button" class="btn btn-primary" value="Create Account">
							</div>
							<button type="button" class="btn btn-link pull-right" data-dismiss="modal" data-toggle="modal" data-target=".bs-login-sm">Already have Account</button>
						</div>              
						</div>              
						</div>    
				  </div>
				</div>
			  </div>
		</div>
    <!-- After REGISTRATION Form end -->
	
    <!-- Login Start -->
			
		<div class="modal fade bs-login-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
								<h4 class="modal-title modal-text"> LOGIN</h4>
							  </div>
								<div class="modal-body">
							  <div class="service-section">
							  <div class="row">	
							  		  <form action="" enctype="multipart/form-data"> 
									<div class="col-md-12 col-sm-12 col-xs-12">	
									<div class="col-md-12 col-sm-12 col-xs-12 form-group">				
									   <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
									</div>	
									 
									<div class="col-md-12 col-sm-12 col-xs-12 form-group">				
									   <input type="password" class="form-control" placeholder="Paasword" name="paasword" id="paasword" required>
									</div>			 
												 
									<div class="col-md-12 col-sm-12 col-xs-12 form-group text-center">				
									   <a href="branch_list.html"><input type="button" class="btn btn-success btn-block" value="Log In"></a>
									</div>
										</div>     
										</form>  
								</div>    
						 
				<button type="button" class="btn btn-link pull-left" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Create Account</button>
				<button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target=".bs-ForgotPassword-sm">Forgot Password</button>           
								</div>   
			  </div>
			</div>
		  </div>
		</div>
		
    <!-- login end Start -->
	<!-- Login Start -->
			
		<div class="modal fade bs-ForgotPassword-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
								<h4 class="modal-title modal-text"> Forgot Password</h4>
							  </div>
								<div class="modal-body">
							  <div class="service-section">
							  <div class="row">	 
							  <form action="user.html" enctype="multipart/form-data">
									<div class="col-md-12 col-sm-12 col-xs-12">	
									<div class="col-md-12 col-sm-12 col-xs-12 form-group">				
									   <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
									</div>	 
												 
									<div class="form-group  text-center">				
									   <input type="button" class="btn btn-primary" value="Forgot Password">
									</div>
								</div>    
								</form>     
								</div>  						 
				         
								</div>   
			  </div>
			</div>
		  </div>
		</div>
		
    <!-- login end Start -->


<!-- Modal -->

	
    <!-- Footer Start -->
    <footer class="unicod-footer bg-style">
       
        <div class="container-fluid unicod-copyright">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">  
                    <div class="Copyright">
                        <p>Copyright 2017, GST.  All Rights Reserved </p>
                    </div>
                </div>
           </div>
        </div>
    </footer>