<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="home">
        <b>GSTONE</b>
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in</p>

      <form [formGroup]="adminLoginForm" novalidate (ngSubmit)="login(adminLoginForm.valid)">
        <div class="form-group has-feedback">
          <!-- <input type="email" class="form-control" formControlName="email" placeholder="Email">
          <small [hidden]="adminLoginForm.controls.email.valid || (adminLoginForm.controls.email.pristine && !submitted)">
            Email is required .
          </small> -->
          <input type="text" class="form-control" formControlName="email" placeholder="Email Id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <small [hidden]="adminLoginForm.controls.email.valid || (adminLoginForm.controls.email.pristine && !submitted)">
            <span style="color:red" [hidden]="adminLoginForm.controls.email.valid">Email is required </span>
            <b [hidden]="adminLoginForm.controls.email.pristine">joe@abc.com</b>
          </small>
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
          <small [hidden]="adminLoginForm.controls.password.valid || (adminLoginForm.controls.password.pristine && !submitted)">
            Password is required .
          </small>
          <!-- <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
        </div>
        <div class="row">

          <!-- /.col -->
          <div class="col-xs-5">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
          <div class="col-xs-7 text-right fogtop">
            <label>
              <a href="#">Forget password ?</a>
            </label>
          </div>
        </div>
        <small *ngIf="loginSuccess===-1 && submitted">
          <span class="text-center" style="color:red">
            <b>Email or Password is incorrect !</b>
          </span>
        </small>
        <small *ngIf="loginSuccess===1 && submitted">
          <span class="text-center">
            <b>Success !</b>
          </span>
        </small>
        <small *ngIf="loginSuccess===-2 && submitted">
          <span class="text-center" style="color:red">
            <b>Sorry, you are not authorized !</b>
          </span>
        </small>
      </form>

      <!-- /.social-auth-links -->


      <br>
      <!-- <a href="register.html" class="text-center">Register a new membership</a> -->

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery 3 -->

</body>