<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- Navigation -->
				<nav class="navbar navbar-default navbar-fixed-top main-nav">
					<div class="container">
						<div class="navbar-header page-scroll">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-brand">
								<a routerLink="/home">
									<h2>
										<strong>GST</strong>
									</h2>
								</a>
							</div>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav navbar-right">
								<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
								<li>
									<a class="page-scroll" href="#">HSN/SAC SEARCH</a>
								</li>
								<li>
									<a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-modal-lg">REGISTRATION</a>
								</li>
								<li *ngIf="userIsLogged == false">
									<a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-login-sm">LOGIN</a>
								</li>
								<li *ngIf="userIsLogged == true">
									<!-- <a class="page-scroll" href="#" data-toggle="modal" >{{userDetails.username}}</a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">
												<i class="fa fa-user"></i> Profile</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-cog"></i> Setting</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-key"></i> Logout</a>
										</li>
									</ul> -->
									<div class="page-scroll	 pull-right" role="group">
										<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{userDetails.username}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li>
												<a routerLink="/user">
													<i class="fa fa-user"></i> Dashboard</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-user"></i> Profile</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-cog"></i> Setting</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-key"></i> Logout</a>

											</li>
										</ul>
									</div>
								</li>
								<li *ngIf="userIsLogged == true">
									<a class="page-scroll" (click)="logout()">LOGOUT</a>
								</li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container -->
				</nav>
			</div>
		</div>
	</div>
</header>


<!-- Start Slider -->

<!-- Start Slider -->

<div class="clearfix"></div>

<!-- <div class="container section-bottom-80"> -->
<router-outlet></router-outlet>
<!-- </div> -->
<!-- End Forgot password  -->


<!-- Modal -->




<!-- Footer Start -->

<footer class="unicod-footer bg-style">

	<div class="container unicod-copyright">

		<div class="col-md-6">
			<div class="Copyright">
				<p>Copyright 2017, GST. All Rights Reserved </p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="Copyright">
				<ul>
					<li>
						<a routerLink="privacy-policy">Privacy Policy</a>
					</li>
					<li>
						<a routerLink="faqs">FAQ</a>
					</li>
					<li>
						<a routerLink="about-us">About us</a>
					</li>
					<li>
						<a routerLink="contact">Contact us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>