<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!-- Navigation -->
				<nav class="navbar navbar-default navbar-fixed-top main-nav">
					<div class="container">
						<div class="navbar-header page-scroll">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-brand">
								<a routerLink="/home">
									<h2>
										<strong>GST</strong>
									</h2>
								</a>
							</div>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav navbar-right">
								<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
								<li>
									<a class="page-scroll" routerLink="user-hsn">HSN/SAC SEARCH</a>
								</li>
								<li *ngIf="userIsLogged == false">
									<a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-modal-lg">REGISTRATION</a>
								</li>

								<li>
									<a class="page-scroll" routerLink="about-us">ABOUT US</a>
								</li>
								<li>
									<a class="page-scroll" routerLink="contact">CONTACT US</a>
								</li>
								<li *ngIf="userIsLogged == false">
									<a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-login-sm" #loginForm>LOGIN</a>
								</li>
								<!-- <li *ngIf="userIsLogged == true">
									<a class="page-scroll" (click)="logout()">LOGOUT</a>
								</li> -->
								<li *ngIf="userIsLogged == true">
									<!-- <a class="page-scroll" href="#" data-toggle="modal" >{{userDetails.username}}</a>
																		<ul class="dropdown-menu">
																			<li>
																				<a href="#">
																					<i class="fa fa-user"></i> Profile</a>
																			</li>
																			<li>
																				<a href="#">
																					<i class="fa fa-cog"></i> Setting</a>
																			</li>
																			<li>
																				<a href="#">
																					<i class="fa fa-key"></i> Logout</a>
																			</li>
																		</ul> -->
									<div class="page-scroll	navuser pull-right" role="group">
										<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{userDetails.username}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li>
												<a routerLink="/user">
													<i class="fa fa-user"></i> Dashboard</a>
											</li>
											<li>
												<a routerLink="/user">
													<i class="fa fa-user"></i> Profile</a>
											</li>

											<li>
												<a (click)="logout()">
													<i class="fa fa-key"></i> Logout</a>


											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container -->
				</nav>
			</div>
		</div>
	</div>
</header>


<!-- Start Slider -->

<!-- Start Slider -->

<div class="clearfix"></div>

<!-- <div class="container section-bottom-100"> -->
<router-outlet></router-outlet>
<!-- </div> -->
<!-- End Forgot password  -->


<!-- Modal -->


<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close modal-text" data-dismiss="modal" aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<!--<h4 class="modal-title modal-text"> REGISTRATION</h4>-->
			</div>
			<div class="modal-body section-top-10">
				<div class="service-section">
					<div class="row section-bottom-20">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-10 col-sm-10">
							<div class="col-md-4 col-sm-6 text-center">
								<div class="unicod-service-col">
									<!-- <h4>&nbsp;<br>Business User<br> &nbsp;</h4> -->

									<h4>&nbsp;
										<br>Customer
										<br> &nbsp;</h4>
								</div>
								<a data-toggle="modal" data-target=".bs-user-lg-edit">
									<button class="btn btn-primary btn-sm" data-target=".bs-REGISTRATION2-lg" data-dismiss="modal" data-toggle="modal" (click)="selectType('agentuser')">Select</button>
									<!-- <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Customer" data-target=".bs-REGISTRATION2-lg">Select</button> -->
								</a>
							</div>
							<div class="col-md-4 col-sm-6 text-center">
								<div class="unicod-service-col">
									<!-- <h4>Charted Accountant <br> Associate<br> Tax Practioner</h4> -->
									<h4>&nbsp;
										<br> Associates
										<br> &nbsp;</h4>
								</div>
								<a data-toggle="modal" data-target=".bs-user-lg-edit">
									<button class="btn btn-primary btn-sm" data-target=".bs-REGISTRATION2-lg" data-dismiss="modal" data-toggle="modal" (click)="selectType('associates')">Select</button>
									<!-- <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Customer" data-target=".bs-REGISTRATION2-lg">Select</button> -->
								</a>
								<!-- <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Associates" data-target=".bs-REGISTRATION2-lg">Select</button> -->
							</div>
							<div class="col-md-4 col-sm-6 text-center">
								<div class="unicod-service-col">
									<h4>&nbsp;
										<br>Large Enterprise
										<br>&nbsp;</h4>
								</div>
								<a data-toggle="modal" data-target=".bs-user-lg-edit">
									<button class="btn btn-primary btn-sm" data-target=".bs-REGISTRATION2-lg" data-dismiss="modal" data-toggle="modal" (click)="selectType('enterprise')">Select</button>
									<!-- <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Customer" data-target=".bs-REGISTRATION2-lg">Select</button> -->
								</a>
								<!-- <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Large Enterprise" data-target=".bs-REGISTRATION2-lg">Select</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-REGISTRATION2-lg" tabindex="-1"  role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title modal-text text-center">
					<b>REGISTRATION</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-10 col-sm-10">
							<form [formGroup]="myForm" novalidate (ngSubmit)="saveReg(myForm.valid)">
								<div class="alert alert-success" *ngIf="errorType == true">
									{{errorMsg }}
								</div>
								<div class="alert alert-danger" *ngIf="errorType == false">
										{{errorMsg }}
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="name" placeholder="Name">
									<small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
										Name is required
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="contact" placeholder="Contact No." pattern="^(?:(?:\+|0{0,2})91(\s*[\ -]\s*)?|[0]?)?[789]\d{9}|(\d[ -]?){10}\d$">

									<small [hidden]="myForm.controls.contact.valid || (myForm.controls.contact.pristine && !submitted)">
										<span style="color:red" [hidden]="myForm.controls.contact.valid">Contact no is required.</span>
										<b [hidden]="myForm.controls.contact.pristine">characters not allowed.</b>
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="pan_no" placeholder="PAN No." pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}">
									<small [hidden]="myForm.controls.pan_no.valid || (myForm.controls.pan_no.pristine && !submitted)">
										<span style="color:red" [hidden]="myForm.controls.pan_no.valid">Pan No is required.</span>
										<b [hidden]="myForm.controls.pan_no.pristine">YHSDS2345E</b>
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="email" placeholder="Email Id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
									<small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)">
										<span style="color:red" [hidden]="myForm.controls.email.valid">Email is required </span>
										<b [hidden]="myForm.controls.email.pristine">joe@abc.com</b>
									</small>

								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="gstin" placeholder="GSTIN" name="gstin" id="gstin">
									<small [hidden]="myForm.controls.gstin.valid || (myForm.controls.gstin.pristine && !submitted)">
										GSTIN is required .
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="address" placeholder="Address" name="address" id="address">
									<small [hidden]="myForm.controls.address.valid || (myForm.controls.address.pristine && !submitted)">
										Address is required .
									</small>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="password" class="form-control" formControlName="password" placeholder="Paasword" name="paasword" id="paasword"
									 required>
									<small [hidden]="myForm.controls.password.valid || (myForm.controls.password.pristine && !submitted)">
										Password is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="password" class="form-control" formControlName="confirm_paasword" placeholder="Confirm Paasword" name="confirm_paasword"
									 id="confirm_paasword" required>
									<small [hidden]="myForm.controls.confirm_paasword.valid || (myForm.controls.confirm_paasword.pristine && !submitted)">
										Password is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" placeholder="City" formControlName="city" name="city" id="city">
									<small [hidden]="myForm.controls.city.valid || (myForm.controls.city.pristine && !submitted)">
										City is required.
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<select class="form-control" (input)="onInput($event)" formControlName="state">
										<option value="" selected="selected"> -- Select State -- </option>
										<option *ngFor="let item of stateList" value=" {{item.name}}">{{item.name}}</option>
									</select>
									<small *ngIf="myForm.controls.state.value ==='' && submitted">
										Please select state !
									</small>

								</div>


								<div class="col-md-12 col-sm-12 col-xs-12 form-group" align="center">
									<button type="submit" class="btn btn-primary">Create</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-login-sm" tabindex="-1" role="dialog"  aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #button2 aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title modal-text text-center">
					<b>LOGIN</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<!-- <div class="alert alert-success" *ngIf="errorType == true">
							Contact has been send successfully
						</div> -->
						<form [formGroup]="LoginForm" novalidate (ngSubmit)="submitForm(LoginForm.valid)">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-12 alert alert-danger" *ngIf="errorType == false">
									<strong>Sorry!</strong>{{errorMsg}}
								</div>
								<div class="col-md-12 alert alert-success" *ngIf="errorType == true">
									{{errorMsg}}
								</div>
								<div class=" col-md-12 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="email" placeholder="Email Id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
									<small [hidden]="LoginForm.controls.email.valid || (LoginForm.controls.email.pristine && !LoginSubmitted)">
										<span style="color:red" [hidden]="LoginForm.controls.email.valid">Email is required </span>
										<b [hidden]="LoginForm.controls.email.pristine">joe@abc.com</b>
									</small>
								</div>

								<div class=" col-md-12 col-sm-12 col-xs-12 form-group">

									<input type="password" class="form-control" formControlName="password" placeholder="Password">
									<small [hidden]="LoginForm.controls.password.valid || (LoginForm.controls.password.pristine && !LoginSubmitted)">
										Password is required .
									</small>
								</div>
								<div class=" col-md-12 col-sm-12 col-xs-12 form-group">
									<button type="submit" class="btn btn-success btn-block">Login</button>
								</div>
								<!-- <small *ngIf="errorType == true">
									{{errorMsg}}
								</small> -->

							</div>
						</form>

					</div>
					<button type="button" class="btn btn-link pull-left" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-lg">Create Account</button>
					<button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target=".bs-ForgotPassword-sm">Forgot Password</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- login end Start -->
<!-- Forgot password  -->

<div class="modal fade bs-ForgotPassword-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title modal-text">
					<b> Forgot Password</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<form action="user.html" enctype="multipart/form-data">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
								</div>

								<div class="form-group  text-center">
									<input type="button" class="btn btn-primary" data-dismiss="modal" value="Forgot Password">
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<!-- Footer Start -->

<footer class="unicod-footer bg-style">

	<div class="container unicod-copyright">

		<div class="col-md-6">
			<div class="Copyright">
				<p>Copyright 2017, GST. All Rights Reserved </p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="Copyright">
				<ul>
					<li>
						<a routerLink="privacy-policy">Privacy Policy</a>
					</li>
					<li>
						<a routerLink="faqs">FAQ</a>
					</li>
					<li>
						<a routerLink="about-us">About us</a>
					</li>
					<li>
						<a routerLink="contact">Contact us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>