<h1>H</h1>  
 <!-- Main Header start -->
 
    <header class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Navigation -->
                    <nav class="navbar navbar-default navbar-fixed-top main-nav">
                        <div class="container">
                            <div class="navbar-header page-scroll">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand">
                                   <a href="index.html">  <!-- <img src=".././assets/images/logo.png" alt="GST"> </a> -->
                                     <h2><strong>GST</strong></h2></a> 
                                   
                                </div>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                                    <li>
										<a class="page-scroll" href="#">HSN/SAC SEARCH</a>
									</li>
									<li>
										<a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-modal-lg">REGISTRATION</a>
									</li>
									<li>
										<a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-login-sm">LOGIN</a>
									</li>                           
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
   
 <!-- Start Slider -->

  <!-- Start Slider -->
    <section id="unicod-slider">
        <div class="slide-main ">
            <!-- Single Slider -->
            
   
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
		
      <div class="item active " style="height:400px;">
		 <div style="position: absolute;">
		<img src=".././assets/images/slider/5.jpg" alt="Los Angeles" style="width:100%; ">
		</div>
	 <div class="slide-text left" style="position: relative; top: 25px; left: 500px;">
                                <div class="slider-inner"  >
                                      <span><strong>Real time data sharing between business</strong></span>
                                    <h1 style="color: black;">Complete Solution  For All GST Compliance</h1>
                                    <p style="color: black;">Working on a cloud based GST software is great.</p>
                                </div>
                            </div>
      </div>

      <div class="item" style="height:400px;">
		<div style="position: absolute; left:250px;">	
		<img src=".././assets/images/slider/6.jpg" alt="Chicago" style="width:100%; ">
		</div>
	<div class="slide-text left" style="position: relative; top: 20px; left: 50px;">
                                <div class="slider-inner"  >
                                      <span ><strong>Real time data sharing between business</strong></span>
                                    <h1 style="color: black;">Complete Solution  For All GST Compliance</h1>
                                    <p style="color: black;">Working on a cloud based GST software is great.</p>
                                </div>
                            </div>
		      </div>
    
      <div class="item" style="height:400px;">
		  <div style="position: absolute;left:250px;">	
		<img src=".././assets/images/slider/4.jpg" alt="New york" style="width:100%; ">
		  </div>
	  <div class="slide-text left" style="position: relative; top: 20px; left: 10px;">
                                <div class="slider-inner"  >
                                      <span ><strong>Real time data sharing between business</strong></span>
                                    <h1 style="color: black;">Complete Solution For All GST Compliance</h1>
									<p style="color: black;">Working on a cloud based GST software is great.</p>                    
								   </div>
                            </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

            <!-- End Single Slider -->
            
          
        </div>
    </section>
   
  <!-- End Single Slider -->
	<!-- pricing Section -->
	<!-- NOTIFICATIONS  -->
    <section class="unicod-section unicod-pricing-fild" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-tabile">
                        <div class="unicod-btn-black">                   
                            <h3> NOTIFICATION / CIRCULARS</h3>                         
                        </div>
                        <ul class="tabile">
						<marquee behavior="scroll" direction="up" onMouseOver="this.stop();" height="230" scrollamount="2" onMouseOut="this.start();">
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">Import data from Tally & Busy</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">Any Time Services</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">Prepare GSTR1 in ClearTax Excel</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">Social media integration</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">File GSTR1 seamlessly before 10th Sept</a></li>
						</marquee>
						</ul>
					<a class="btn-block btn btn-primary" href="notification">View More</a> 
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-tabile">
                        <div class="unicod-btn-black">
                            <h3> GSTONE UPDATE</h3>
                        </div>
						
                        <ul class="tabile">
						<marquee behavior="scroll" direction="up" onMouseOver="this.stop();" height="230" scrollamount="2" onMouseOut="this.start();">
                           <li><i class="fa fa-check"></i> &nbsp; <a href="">Import data from Tally & Busy</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">Any Time Services</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">Prepare GSTR1 in ClearTax Excel</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">Social media integration</a></li>
                            <li><i class="fa fa-check"></i> &nbsp; <a href="">File GSTR1 seamlessly before 10th Sept</a></li>
						</marquee>
						</ul>
					<a class="btn-block btn btn-primary" href="update">View More</a>  
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-tabile Business-idea">
                        <div class="unicod-btn-black" align="center">
                            <h3>VIDEOS</h3>
                        </div>
                        <ul class="tabile">
						<marquee behavior="scroll" direction="up" onMouseOver="this.stop();" height="230" scrollamount="2" onMouseOut="this.start();">
                           <li><i class="fa fa-video-camera"></i> &nbsp; <a href="">Import data from Tally & Busy</a></li>
                            <li><i class="fa fa-video-camera"></i> &nbsp; <a href="">Any Time Services</a></li>
                            <li><i class="fa fa-video-camera"></i> &nbsp; <a href="">Prepare GSTR1 in ClearTax Excel</a></li>
                            <li><i class="fa fa-video-camera"></i> &nbsp; <a href="">Social media integration</a></li>
                            <li><i class="fa fa-video-camera"></i> &nbsp; <a href="">File GSTR1 seamlessly before 10th Sept</a></li>
						</marquee>
                        </ul>
                            <a class="btn-block btn btn-primary" href="videos">View More</a>     
                    </div>
                </div>
            </div>
        </div>
    </section>

 

    <!-- REGISTRATION Start -->

	<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close modal-text" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
				<!--<h4 class="modal-title modal-text"> REGISTRATION</h4>-->
			  </div>
				<div class="modal-body">
			  <div class="service-section">
			  <div class="row section-bottom-20">
					 <div class="col-md-1 col-sm-1"></div>
					 <div class="col-md-10 col-sm-10">
					 <div class="col-md-4 col-sm-6 text-center">
                    <div class="unicod-service-col">
						<!-- <h4>&nbsp;<br>Business User<br> &nbsp;</h4> -->
						
						<h4>&nbsp;<br>Customer <br> &nbsp;</h4>
                    </div>
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Customer" data-target=".bs-REGISTRATION2-lg">Select</button>
                </div>
					<div class="col-md-4 col-sm-6 text-center">
						<div class="unicod-service-col">
							<!-- <h4>Charted Accountant <br> Associate<br> Tax Practioner</h4> -->
							<h4>&nbsp; <br> Associates<br> &nbsp;</h4>
						</div>
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Associates" data-target=".bs-REGISTRATION2-lg">Select</button>
					</div>
					<div class="col-md-4 col-sm-6 text-center">
						<div class="unicod-service-col">
							<h4>&nbsp;<br>Large Enterprise<br>&nbsp;</h4>
						</div>
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" value="Large Enterprise" data-target=".bs-REGISTRATION2-lg">Select</button>
					</div>
				</div>              
				</div>              
				</div>    
		  </div>
		</div>
	  </div>
	</div>
    <!-- REGISTRATION End -->

    <!-- After REGISTRATION Form Start -->

		<div class="modal fade bs-REGISTRATION2-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
				  <div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
						<h4 class="modal-title modal-text text-center"> <b>REGISTRATION</b></h4>
					  </div>
						<div class="modal-body">
					  <div class="service-section">
				  <!-- <form (ngSubmit)="f.form.valid && register()" #f="ngForm"> -->
					  <!-- <form #form="myForm"  (ngSubmit)="save(myForm.value)"> -->
						  <form #myform="ngForm" (ngSubmit)="save(myform.value)">
					  <div class="row">
							 <div class="col-md-1 col-sm-1"></div>
							 <div class="col-md-10 col-sm-10">
												 
							 <div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Name" name="username" [(ngModel)]="model.username" #username="ngModel" required>
							</div>	
							
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="password" class="form-control" placeholder="Paasword" name="password" [(ngModel)]="model.password" #password="ngModel" required>
							</div>			 
							<!-- <div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Confirm Paasword" name="confirm_paasword" id="confirm_paasword" required>
							</div>		 -->
							
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Email Id" name="email" [(ngModel)]="model.email" #email="ngModel" required>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Contact No." name="contact" [(ngModel)]="model.contact" #contact="ngModel" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="PAN No." name="pan_no" [(ngModel)]="model.pan_no" #pan_no="ngModel" required>
							</div>			 
										 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="GSTIN" name="gstin" [(ngModel)]="model.gstin" #gstin="ngModel" required>
							</div>			 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="model.address" #address="ngModel" required>
							</div>			 
							<!-- <div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<select class="form-control">
									<option value="" selected="selected"> -- Select State -- </option>
									<option value="">Jabalpur</option>
									<option value="">Bhopal</option>
									<option value="">Raipur</option>
								</select>				
							</div>				  -->
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="model.city" #city="ngModel"required>
							</div>		 
								 
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">				
							   <input type="submit" class="btn btn-primary" value="Create Account">
							</div>
							<button type="button" class="btn btn-link pull-right" data-dismiss="modal" data-toggle="modal" data-target=".bs-login-sm">Already have Account</button>
						 
						
						</div>              
						</div>  
					</form>            
						</div>    
				  </div>
				</div>
			  </div>
		</div>
    <!-- After REGISTRATION Form end -->
	
    <!-- Login Start -->
    

<!-- login end Start -->


   <!-- Login Start -->
			
		<div class="modal fade bs-login-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
								<h4 class="modal-title modal-text text-center"> <b>LOGIN</b></h4>
							  </div>
								<div class="modal-body">
							  <div class="service-section">
							  <div class="row">	
										
								
								
								
								
								
								
								
								<!-- Old Modal -->
								<!-- <form action="" enctype="multipart/form-data"> 
									<div class="col-md-12 col-sm-12 col-xs-12">	
									<div class="col-md-12 col-sm-12 col-xs-12 form-group">				
								 -->
								
										<!-- <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required> -->
								
								
										<!-- <input type="text" id="email" class="form-control" placeholder="username"required  #username > -->
											 
										 

									<!-- </div>	
									 
									<div class="col-md-12 col-sm-12 col-xs-12 form-group">				 -->



									   <!-- <input type="password" class="form-control" placeholder="Paasword" name="paasword" id="paasword" required> -->
										
									 
									   <!-- <input type="password" class="form-control" placeholder="Paasword"required  #Paasword >
									</div>			 
												 
									<div class="col-md-12 col-sm-12 col-xs-12 form-group text-center">				 -->
									   
										
										
										<!-- <a href="user"> -->
										
										
											<!-- <input type="button" class="btn btn-success btn-block" value="Log In" (click)="login(username.value,Paasword.value)"> -->
										
										
											<!-- </a> -->
									<!-- </div>
										</div>     
										</form>  -->
	<!-- Old Modal -->
	



	<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
		<div class="col-md-12 col-sm-12 col-xs-12">	
      <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
        <!-- <label>Username:</label> -->
        <!-- Since we are working with template driven forms, we can use the ngModel directive to capture the values of our forms. One thing to note if you are coming from Angular 1.x. Using ngModel as shown below creates a one-way data binding, so once we hit submit the data is only sent to the controller. If we wanted to use two-way data binding, we would have to wrap the ngModel in [()] and assign an attribute to it. Also the name of the field corresponds to the name attribute so our first input will be firstName. -->
        <input type="text" class="form-control" placeholder="Username" name="username" ngModel required>
	  </div>

      <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
        <!-- <label>Password</label> -->
        <input type="Password" class="form-control" placeholder="Password" name="password" ngModel required>
      </div>
	  <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
        <button type="submit" class="btn btn-success btn-block">Login</button>
	  </div>
		</div>
    </form>

								</div>    
						 
				<button type="button" class="btn btn-link pull-left" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-lg">Create Account</button>
				<button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target=".bs-ForgotPassword-sm">Forgot Password</button>           
								</div>   
			  </div>
			</div>
		  </div>
		</div>
		
  
	<!-- login end Start -->
	<!-- Forgot password  -->
	
<div class="modal fade bs-ForgotPassword-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
								<h4 class="modal-title modal-text"><b> Forgot Password</b></h4>
							  </div>
								<div class="modal-body">
							  <div class="service-section">
							  <div class="row">	 
							  <form action="user.html" enctype="multipart/form-data">
									<div class="col-md-12 col-sm-12 col-xs-12">	
									<div class="col-md-12 col-sm-12 col-xs-12 form-group">				
									   <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
									</div>	 
												 
									<div class="form-group  text-center">				
									   <input type="button" class="btn btn-primary"  data-dismiss="modal" value="Forgot Password">
									</div>
								</div>    
								</form>     
								</div>  						 
				         
								</div>   
			  </div>
			</div>
		  </div>
		</div>

<!-- End Forgot password  -->


<!-- Modal -->




    <!-- Footer Start -->

<footer class="unicod-footer bg-style">
       
        <div class="container-fluid unicod-copyright">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">  
                    <div class="Copyright">
                        <p>Copyright 2017, GST.  All Rights Reserved </p>
                    </div>
                </div>
           </div>
        </div>
    </footer>

    
 