<!-- pricing Section -->
<section class="unicod-section unicod-pricing-fild  section-top-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="unicod-section-title-one">
                    <h2 class="comon-color">Contact Us </h2>
                    <div class="collor-bottom-one"></div>
                    <p> Fill out the form and a member of the support team will get back to you at your earliest. Please try
                        to be as specific as possible. Attach screenshots and relevant documents for faster resolution.</p>

                    <p>
                </div>
            </div>

            <div class="col-md-8 col-sm-6">

                <div class="contact-field-frome">
                    <form class="callus" onSubmit="return false">
                        <div class="row">
                            <div class="col-sm-12 center">
                                <div id="result"></div>
                            </div>
                        </div>
                        <div class="row">
                            <form [formGroup]="contactForm" novalidate (ngSubmit)="sendContact(contactForm.valid)">

                                <small *ngIf="errorType == true">
                                    Contact has been send successfully.
                                </small>
                                <small *ngIf="errorType == false">
                                    Contact not send.
                                </small>
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                                    <small [hidden]="contactForm.controls.name.valid || (contactForm.controls.name.pristine && !submitted)">
                                        Name is required (minimum 5 characters).
                                    </small>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email Address">
                                    <small [hidden]="contactForm.controls.email.valid || (contactForm.controls.email.pristine && !submitted)">
                                        <span style="color:red" [hidden]="contactForm.controls.email.valid">Email is required </span>
                                        <b [hidden]="contactForm.controls.email.pristine">joe@abc.com</b>
                                    </small>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" formControlName="contact" placeholder="Phone No" pattern="^(?:(?:\+|0{0,2})91(\s*[\ -]\s*)?|[0]?)?[789]\d{9}|(\d[ -]?){10}\d$">
                                    <small [hidden]="contactForm.controls.contact.valid || (contactForm.controls.contact.pristine && !submitted)">
                                        <span style="color:red" [hidden]="contactForm.controls.contact.valid">Contact no is required.</span>
                                        <b [hidden]="contactForm.controls.contact.pristine">Characters not allowed.</b>
                                    </small>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" formControlName="company" placeholder="Company Name">
                                    <small [hidden]="contactForm.controls.company.valid || (contactForm.controls.company.pristine && !submitted)">
                                        Company Name is required .
                                    </small>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <textarea class="form-control" rows="5" formControlName="remarks" placeholder="Remark"></textarea>
                                    <small [hidden]="contactForm.controls.remarks.valid || (contactForm.controls.remarks.pristine && !submitted)">
                                        Remarks is required.
                                    </small>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <button class="btn btn-primary unicod-btn-green" type="submit">Send</button>
                                </div>

                            </form>
                        </div>
                    </form>
                </div>
            </div>


            <!--<div class="col-md-4 col-sm-6">
                  <div class="well">
         <ul class="tabile">
                      <li>You are now using GST Software</li>
          <li>No download required. Use it in your browser</li>
          <li>Create all invoices and file GST Returns</li>
          <li>Free training to help you with using GST Software</li>
          <li>Work offline with Excel Utility Tool</li>
          <li>You can attend our Free training conducted by GST Experts in English & Hindi to help you understand GST & GST software</li>
        </ul>					
              </div>
          </div>-->
        </div>
    </div>
</section>