<!-- pricing Section -->
<section class="unicod-section unicod-pricing-fild  section-top-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="unicod-section-title-one">
                    <h2 class="comon-color">Contact Us </h2>
                    <div class="collor-bottom-one"></div>
                    <p> Fill out the form and a member of the support team will get back to you at your earliest. Please try
                        to be as specific as possible. Attach screenshots and relevant documents for faster resolution.</p>

                    <p>
                </div>
            </div>

            <div class="col-md-8 col-sm-6">

                <div class="contact-field-frome">
                    <form class="callus" onSubmit="return false">
                        <div class="row">
                            <div class="col-sm-12 center">
                                <div id="result"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input type="text" class="form-control" placeholder="Name" name="name" id="name" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input type="email" class="form-control" placeholder="Email Address" name="email" id="email" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input type="tel" class="form-control" placeholder="Phone No" name="phone" id="phone">
                            </div>
                            <div class="col-sm-6 form-group">
                                <input type="text" class="form-control" placeholder="Company Name" name="company" id="company">
                            </div>
                            <div class="col-sm-12 form-group">
                                <textarea class="form-control" rows="5" placeholder="Remark" name="remarks" required></textarea>
                            </div>
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-primary unicod-btn-green" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!--<div class="col-md-4 col-sm-6">
                  <div class="well">
         <ul class="tabile">
                      <li>You are now using GST Software</li>
          <li>No download required. Use it in your browser</li>
          <li>Create all invoices and file GST Returns</li>
          <li>Free training to help you with using GST Software</li>
          <li>Work offline with Excel Utility Tool</li>
          <li>You can attend our Free training conducted by GST Experts in English & Hindi to help you understand GST & GST software</li>
        </ul>					
              </div>
          </div>-->
        </div>
    </div>
</section>