<body id="page-top">
  <!--preloader-->
  <!-- Main Header start -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top main-nav">
          <div class="container">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand">
                <a href="index.html">
                  <!--<img src="images/logo.png" alt="GST">-->
                  <h2>
                    <strong>GST</strong>
                  </h2>
                </a>
              </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                  <a class="page-scroll" href="#">HSN/SAC SEARCH</a>
                </li>
                <li>
                  <a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-modal-lg">REGISTRATION</a>
                </li>
                <li>
                  <a class="page-scroll" href="#" data-toggle="modal" data-target=".bs-login-sm">LOGIN</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
      </div>
    </div>
  </div>

  <!-- pricing Section -->
  <section class="unicod-section unicod-pricing-fild  section-top-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="unicod-section-title-one">

            <h2 class="comon-color" align="center">About Us </h2>
            <div class="collor-bottom-one"></div>

            <p>Welcome to GST. We are a technology company specializing in the ‘Tax’ domain. Our software helps individuals
              prepare and file their income tax return in the shortest time while maximising their tax deductions.</p>
            <div class="clearfix"></div>
            <br>

            <div class="col-md-4 col-sm-6">

              <img src=".././assets/images/team-pic-4.png" class="thumbnail">

            </div>

            <p> {{aboutUs.discription}}</p>

            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Modal -->


  <!-- Footer Start -->
  <footer class="unicod-footer bg-style">

    <div class="container unicod-copyright">

      <div class="col-md-6">
        <div class="Copyright">
          <p>Copyright 2017, GST. All Rights Reserved </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="Copyright">
          <ul>
            <li>
              <a href="privacy_policy.html">Privacy Policy</a>
            </li>
            <li>
              <a href="faq.html">FAQ</a>
            </li>
            <li>
              <a href="about_us.html">About us</a>
            </li>
            <li>
              <a href="contact.html">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>