<div class="container">
	<div class="row">
		<div class="col-md-3 navbar-header-gst">
			<div class="navbar-brand">
				<a href="index.html">
					<h2 class="gst_logo">GST</h2>
				</a>
			</div>
		</div>
		<div class="col-md-6">
		</div>
		<div class="col-md-3">
			<div class="user_profile">
				<label>Contact Mail</label>
				<div class="btn-group pull-right" role="group">
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  User email
									  <span class="caret"></span>
									</button>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
						<li><a href="#"><i class="fa fa-cog"></i> Setting</a></li>
						<li><a href="#"><i class="fa fa-key"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<header class="main-header">
	<div class="container-fluid">
		<div class="row">
			<!-- Navigation  navbar-static-top -->
			<nav class="navbar navbar-inverse">
				<div class="container navbar-header-gst">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li>
								<a class="page-scroll" href="#">User Name <span> GSTIN No</span></a>
							</li>
							<li>
								<a class="page-scroll" href="user">Dashboard</a>
							</li>
							<li>
								<a class="page-scroll" href="workreturns">Returns</a>
							</li>
							<li>
								<a class="page-scroll" href="notification">Notification </a>
							</li>
							<li>
								<a class="page-scroll" href="update">Updates </a>
							</li>
							<li>
								<a class="page-scroll" href="videos">Videos </a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
		</div>
	</div>
</header>





<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<h3 class="text-primary"><b>Client List</b></h3>
		</div>

		<div class="col-xs-6 col-sm-3 placeholder"> </div>
		<div class="col-xs-6 col-sm-3 placeholder"> </div>

		<div class="col-xs-6 col-sm-3 placeholder">
			<a href="#" data-toggle="modal" data-target=".bs-GSTIN-lg"><input type="button" class="btn btn-success pull-right" value="Add  New Client"></a>
		</div>


		<div class="clearfix"></div>


		<div class="col-md-12 col-sm-12 section-top-20 section-bottom-70">

			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th width="6%">S. No</th>
						<th width="28%">Client Name</th>
						<th width="17%">GSTIN</th>
						<th width="29%">Last Return filed </th>
						<th width="15%">Date</th>
						<th width="5%">Action</th>
					</tr>
				</thead>
				<tbody class="table_form">
					<tr>
						<td align="center"> 01.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>
						</td>
					</tr>
					<tr>
						<td align="center"> 02.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>

						</td>
					</tr>
					<tr>
						<td align="center"> 03.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>

						</td>
					</tr>
					<tr>
						<td align="center"> 04.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>

						</td>
					</tr>
					<tr>
						<td align="center"> 05.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>

						</td>
					</tr>
					<tr>
						<td align="center"> 06.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>

						</td>
					</tr>
					<tr>
						<td align="center"> 07.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>

						</td>
					</tr>
					<tr>
						<td align="center"> 08.</td>
						<td><input type="text" class="form-control" placeholder="Client Name" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="GSTIN" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Last Return filed" name="name" required></td>
						<td><input type="text" class="form-control" placeholder="Date" name="name" required></td>
						<td align="center"><i class="fa fa-edit btn btn-primary btn-md" title="Edit"></i>

						</td>
					</tr>



				</tbody>
			</table>

		</div>
	</div>



</div>



<div class="modal fade bs-GSTIN-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content section-form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-text" aria-hidden="true">X</span></button>
				<h4 class="modal-title modal-text" align="center"><b> Add New Client</b></h4>
			</div>

			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-10 col-sm-10">

							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="Name" name="name" id="name" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="Contact No." name="contact" id="contact" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="PAN No." name="pan_no" id="pan_no" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="GSTIN" name="gstin" id="gstin" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="Address" name="address" id="address" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<select class="form-control">
									<option value="" selected="selected"> -- Dealer Type  -- </option>
									<option value="">Regular</option>
									<option value="">Composition</option>
									<option value="">ISD</option>
									<option value="">E-Commerce</option>
								</select>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="City" name="city" id="city" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" class="form-control" placeholder="Display Name" name="display_name" id="display_name" required>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 form-group">
								<select class="form-control">
									<option value="" selected="selected"> -- Select State -- </option>
									<option value="">Jabalpur</option>
									<option value="">Bhopal</option>
									<option value="">Raipur</option>
								</select>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 form-group" align="center">
								<input type="button" class="btn btn-primary" data-dismiss="modal" value="Create">

								<input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->


<!-- Footer Start -->
<footer class="unicod-footer bg-style">

	<div class="container-fluid unicod-copyright">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="Copyright">
					<p>Copyright 2017, GST. All Rights Reserved </p>
				</div>
			</div>
		</div>
	</div>
</footer>