<!-- pricing Section -->
<section class="unicod-section unicod-pricing-fild  section-top-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hsn-section-title-one">
          <h2 class="comon-color">HSN/SAC </h2>
          <div class="collor-bottom-one"></div>
          <p>( For Inter-state supply, IGST Rate is applicable | For intra-state supply, CGST rate and SGST/UTGST rate is applicable
            )
          </p>
          <p>Goods which are not specified in table below have IGST tax rate of 18%. </p>
          <div class="row section-top-30">
            <div class="col-md-4 col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="codeValue" placeholder="HNS Code">
                <div class="input-group-addon">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="Description">
                <div class="input-group-addon">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 col-xs-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="">
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div> -->
            <div class="col-md-4 col-xs-12">
              <div class="input-group">
                <input type="button" class="btn btn-primary" value="clear">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-12 col-sm-12">
      <div class="table-responsive no-padding">

        <table class="table table-condensed  table-hover table-bordered">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="25%">HSN Code</th>
              <th width="50%">Description</th>
              <th width="20%">Rate</th>
              <!-- <th width="12%">Status</th> -->
              <!-- <th width="25%" class="text-center">Action</th> -->
            </tr>
          </thead>

          <!-- <ng-template ngFor let-item [ngForOf]="hsnCodeData"> -->
          <tr *ngFor="let item of hsnCodeData | hsnCodeFilter:searchString |hsnCodeFilter:codeValue   ; let i = index;">
            <!-- <tbody>
              <tr class="header" (ngModel)="item"> -->
                <td align="center">{{ hsnCodeData.indexOf(item) }}</td>
                <td align="center">{{ item.code }}</td>
                <td align="center">{{item.description}}</td>
                <td align="center">{{item.rate}}</td>


                <!-- <td align="center">
                    <i class="fa fa-eye btn btn-primary btn-sm" title="View"></i>
                    <a href="" data-toggle="modal" data-target=".bs-user-lg-edit">
                      <button class="fa fa-edit btn btn-warning btn-sm" title="Update" (click)="editHSNRecord(item,hsnCodeData.indexOf(item))"></button>
                    </a>
                    <a href="" data-toggle="modal" data-target=".bs-delete-sm">
                      <button class="fa fa-trash btn btn-danger btn-sm" title="Delete" (click)="recordToBeDeleted(item)"></button>
                    </a>
                  </td> -->
          </tr>

        </table>
        </div>
        <!-- TABLE -->

        <!-- <ul class="pagination btn-sm">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>

              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
              </li>

              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
            </ul> -->

      </div>
    </div>
  </div>
</section>



<!-- User Form end -->

<!-- delete Start -->


<!-- Editing Of HSN Code -->


<!-- End of Editing HSN Code -->