<section class="unicod-section unicod-pricing-fild  section-top-20">
<div class="container">
    <div class="row">
<div class="col-lg-12">    
 <div class="unicod-section-title-one">
                <h2 class="comon-color">GSTONE UPDATE </h2>
                <div class="collor-bottom-one"></div>
                <h3 ><b>title</b>  </h3>
                <p>One Solution is a GST Compliance tool for all categories of Businesses such as Traders, MSMEs, SMEs or Tax Professionals for filing separate returns in respect of each GST Identification Numbers using the Same Dashboard.</p>
    
  <p>Maximum retail price of goods must include the GST component to effectively address consumer complaints that some retailers charge the new indirect tax on MRP of products, a high-level panel of state finance ministers has recommended.</p>
  
  <p>The group of ministers, headed by Assam Finance Minister Himanta Biswa Sarma, has in its recommendation to the GST Council on easing compliance burden on small and medium enterprises suggested that the government make it amply clear in the present law that MRP is the maximum price of a product to be sold in retail and charging anything above this is an offence.</p>
  <p>Maximum retail price of goods must include the GST component to effectively address consumer complaints that some retailers charge the new indirect tax on MRP of products, a high-level panel of state finance ministers has recommended.</p>
  
  <p>The group of ministers, headed by Assam Finance Minister Himanta Biswa Sarma, has in its recommendation to the GST Council on easing compliance burden on small and medium enterprises suggested that the government make it amply clear in the present law that MRP is the maximum price of a product to be sold in retail and charging anything above this is an offence.</p>
  <p>Maximum retail price of goods must include the GST component to effectively address consumer complaints that some retailers charge the new indirect tax on MRP of products, a high-level panel of state finance ministers has recommended.</p>
  
  <p>The group of ministers, headed by Assam Finance Minister Himanta Biswa Sarma, has in its recommendation to the GST Council on easing compliance burden on small and medium enterprises suggested that the government make it amply clear in the present law that MRP is the maximum price of a product to be sold in retail and charging anything above this is an offence.</p>
  <p>Maximum retail price of goods must include the GST component to effectively address consumer complaints that some retailers charge the new indirect tax on MRP of products, a high-level panel of state finance ministers has recommended.</p>
  
  <p>The group of ministers, headed by Assam Finance Minister Himanta Biswa Sarma, has in its recommendation to the GST Council on easing compliance burden on small and medium enterprises suggested that the government make it amply clear in the present law that MRP is the maximum price of a product to be sold in retail and charging anything above this is an offence.</p>
            </div>
</div>                       
              
        
    
        
  </div>
</div>
</section>