<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>&nbsp; </h1>
  <ol class="breadcrumb">
    <li>
      <a href="index.html">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">About Us</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box box-info">
    <div class="row">


      <div class="col-lg-12 col-xs-12">
        <div class="box-header with-border">
          <h3 class="text-blue">About Us
            <input type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-user-lg-edit" (click)="editAboutRecord(aboutUs)"
              value="Edit">
          </h3>
        </div>
      </div>

      <div class="col-lg-12 col-xs-12">

        <!-- /.box-header -->

        <!-- /.box-header -->

        <div class="box well">

          <!-- /.box-header -->
          <div class="box-body">
            <p style="color:#000000">{{aboutUs.discription}}</p>

            <!-- form start -->
          </div>

        </div>
      </div>

    </div>
  </div>


</section>
<!-- /.content -->


<div class="modal fade bs-user-lg-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeBtn2 aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title modal-text">Edit</h4>
      </div>
      <div class="box">
        <div class="box-body">
          <form [formGroup]="editAbout" novalidate (ngSubmit)="updateAbout(editAbout.valid)">
            <div class="box-body">
              <div class="form-group">
                <textarea rows="15" type="text" placeholder="Description" formControlName="discription" class="form-control" id="exampleInputEmail1" value=""></textarea>
                <small [hidden]="editAbout.controls['discription'].valid || (editAbout.controls['discription'].pristine && !submitted)">
                  Title is required .
                </small>
              </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

          <!-- form start -->
        </div>

      </div>
    </div>
  </div>
</div>