<div class="clearfix">


</div>
<div class="container  section-bottom-80">
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<h3 class="text-primary">
				<b>Branch List</b>
			</h3>
		</div>

		<div class="col-xs-6 col-sm-3 placeholder"> </div>
		<div class="col-xs-6 col-sm-3 placeholder"> </div>

		<div class="col-xs-6 col-sm-3 text-right section-bottom-20">
			<a href="" data-toggle="modal" data-target=".bs-upload-sm">
				<input type="button" class="btn btn-primary" value="Import/Export">
			</a>
			<a href="#" data-toggle="modal" data-target=".bs-GSTIN-lg">
				<input type="button" class="btn btn-success" value="Add New Branch">
			</a>
		</div>


		<div class="clearfix"></div>

		<div class="col-md-8 col-sm-12">

			<div class="alert alert-danger" *ngIf="isBranchList == true">
				<strong>Sorry!</strong> Your dont have Branch list.
			</div>
			<div class="well" *ngIf="isBranchList == false">
				<div class="row">

					<div class="col-md-12 col-sm-12 col-xs-12">
						<table class="col-md-12 col-sm-12 col-xs-12">
							<!-- <thead>
													<tr>
														<th>Branch Name</th>
														<th>GSTIN</th>
														<th></th>
													</tr>
												</thead> -->

							<ng-template ngFor let-item [ngForOf]="branchesList">
								<tbody>
									<tr class="header" (ngModel)="item">
										<td align="center">{{item.name}}</td>
										<td align="center">{{item.branchName}}</td>
										<td align="center">GSTIN: {{item.gstin}}</td>
										<td align="right">

											<div class="col-xs-6 col-sm-3">
												<button routerLink="edit" class="btn btn-success">Edit </button>
											</div>
										</td>
									</tr>
								</tbody>
							</ng-template>

						</table>



					</div>
				</div>
			</div>
			<!-- <ul class="pagination btn-sm" *ngIf="branchesList?.length > 1">
				<li [ngClass]="{disabled:pager.currentPage === 1}">
					<a (click)="getBranches(pager.currentPage - 1)">Previous</a>
				</li>

				<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
					<a (click)="getBranches(page)">{{page}}</a>
				</li>

				<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
					<a (click)="getBranches(pager.currentPage + 1)">Next</a>
				</li>
			</ul> -->
			<ul class="pagination btn-sm" *ngIf="isBranchList == false">
					<li [ngClass]="{disabled:pager.currentPage === 1}">
					  <a *ngIf="pager.currentPage > 1" (click)="getBranches(pager.currentPage - 1)">Previous</a>
					</li>
		
					<li [ngClass]="{disabled:pager.currentPage === 1}">
					  <a *ngIf="pager.currentPage ==1">Previous</a>
					</li>
		
					<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
					  <a (click)="getBranches(page)">{{page}}</a>
					</li>
		
					<li [ngClass]="{disabled:pager.currentPage === pager.endPage}">
					  <a *ngIf="pager.currentPage < pager.endPage" (click)="getBranches(pager.currentPage + 1)">Next</a>
					</li>
					<li [ngClass]="{disabled:pager.currentPage === pager.endPage}">
					  <a *ngIf="pager.currentPage == pager.endPage">Next</a>
					</li>
				  </ul>

			<!-- -->

			<!-- Modified Table -->
		</div>



		<div class="col-md-4 col-sm-12">
			<div class="well color-4">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h4>You are now using ClearTax GST Software</h4>
						<hr>
						<div class="gstol">
							<ol>
								<li>No download required. Use it in your browser</li>
								<li>Create all invoices and file GST Returns</li>
								<li>Free training to help you with using GST Software</li>
								<li>Work offline with Excel Utility Tool</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>





<div class="modal fade bs-GSTIN-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content section-form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title modal-text" align="center">
					<b> Add New Branch</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						
						<div class="col-md-10 alert alert-danger" *ngIf="errorType == true">
								<strong>Sorry!</strong>{{errorMsg}} 
							</div>
						<div class="col-md-10 col-sm-10">
							<form [formGroup]="myForm" novalidate (ngSubmit)="save( myForm.valid)">
								<!-- <form [formGroup]="myForm" novalidate (ngSubmit)="save()"> -->

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="name" placeholder="Name" required>
									<small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
										Name is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="contact" maxlength="10" placeholder="Contact No.">
									<small [hidden]="myForm.controls.contact.valid || (myForm.controls.contact.pristine && !submitted)">
										Contact is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="pan_no" placeholder="PAN No." pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}">
									<small [hidden]="myForm.controls.pan_no.valid || (myForm.controls.pan_no.pristine && !submitted)">
										<span style="color:red" [hidden]="myForm.controls.pan_no.valid">Pan No is required.</span>
										<b [hidden]="myForm.controls.pan_no.pristine">YHSDS2345E</b>
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="email" placeholder="Email Id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
									<small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)">
										<span style="color:red" [hidden]="myForm.controls.email.valid">Email is required </span>
										<b [hidden]="myForm.controls.email.pristine">joe@abc.com</b>
									</small>

								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="gstin" placeholder="GSTIN" name="gstin" id="gstin">
									<small [hidden]="myForm.controls.gstin.valid || (myForm.controls.gstin.pristine && !submitted)">
										GSTIN is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="address" placeholder="Address" name="address" id="address">
									<small [hidden]="myForm.controls.address.valid || (myForm.controls.address.pristine && !submitted)">
										Address is required (minimum 5 characters).
									</small>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<select class="form-control" formControlName="selectedDealer" required>
										<option value="-1" name="Select Dealer" selected="selected">Select Dealer</option>
										<option value="0" name="Regular">Regular</option>
										<option value="1" name="Composition">Composition</option>
										<option value="2" name="ISD">ISD</option>
										<option value="2" name="E-Commerce">E-Commerce</option>
									</select>
									<small *ngIf="myForm.controls.selectedDealer.value=='-1' && submitted">
										Please select dealer !
									</small>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" placeholder="City" formControlName="city" name="city" id="city">
									<small [hidden]="myForm.controls.city.valid || (myForm.controls.city.pristine && !submitted)">
										City is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="branch_name" placeholder="Branch Name" name="branch_name" id="branch_name">
									<small [hidden]="myForm.controls.branch_name.valid || (myForm.controls.branch_name.pristine && !submitted)">
										Branch Name is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<select class="form-control" (input)="onInput($event)" >
										<option value="" selected="selected"> -- Select State -- </option>
										<option *ngFor="let item of stateList" value="{{item.name}}">{{item.name}}</option>
									</select>
									<!-- <small *ngIf="!myForm.controls.selectedState.value && submitted">
										Please select State !
									</small> -->
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 form-group" align="center">
									<button type="submit" class="btn btn-primary">Create</button>
									<!-- <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="save(myForm.valid)">Create</button> -->
									<!-- <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Create"> -->

									<button type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
										Cancel
									</button>
									<!-- <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel"> -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->

<div class="modal fade bs-upload-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeChoose aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="text-blue text-center">Choose Import/Export</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center section-top-10 section-bottom-40">
							<a data-toggle="modal" data-target=".bs-Import-sm">
								<input type="button" class="btn btn-success" data-dismiss="modal" value="Import Excel/CSV">
							</a> &nbsp; &nbsp; &nbsp;
							<a data-toggle="modal" data-target=".bs-Export-sm">
								<input type="button" class="btn btn-primary" data-dismiss="modal" value="Export Excel/CSV ">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade bs-Import-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeCsv aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="text-blue text-center">Import Customer data</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row" align="center">
						<div class="col-md-12 col-sm-12 col-xs-12 section-top-10 section-bottom-20">
							<p align="center">Please choose Excel/CSV file</p>
							<br>

							<div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1">
								<!-- <input type="file" value=""> -->
								<input class="btn btn-success" type="file" (change)="onCSVFilePicked($event.target.files)" accept=".csv,.xlsx" #uploadCsvFileControl > 
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
								<input type="button" class="btn btn-primary" value="Upload" (click)="uploadCsvFileToServer()">
							</div>
						</div>
						<p *ngIf="ifSuccess==true" class="text-info text-center">Successfully file uploaded</p>
					</div>
					<div align="center">
						<input type="button" class="btn btn-success" data-dismiss="modal" value="Close">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="modal fade bs-Export-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="text-blue text-center">Export Customer data</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row" align="center">
						<div class="col-md-12 col-sm-12 col-xs-12 section-top-10 section-bottom-20">
							<!-- <p align="center">Please choose Excel/CSV file</p> -->
							<br>
							<div align="center">
								<input type="button" class="btn btn-primary" value="Download" (click)="downloadJSONTOCSV()">
							</div>
						</div>
						<p *ngIf="isDownloadSuccessful==true" class="text-info text-center">Download Complete !</p>
					</div>
					<div align="center">
						<input type="button" (click)="closeDownloadModal()" class="btn btn-success" data-dismiss="modal" value="Close">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>