
  <!-- pricing Section -->
  <section class="unicod-section unicod-pricing-fild  section-top-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="unicod-section-title-one">

            <h2 class="comon-color" align="center">About Us </h2>
            <div class="collor-bottom-one"></div>

            <p>Welcome to GST. We are a technology company specializing in the ‘Tax’ domain. Our software helps individuals
              prepare and file their income tax return in the shortest time while maximising their tax deductions.</p>
            <div class="clearfix"></div>
            <br>

            <div class="col-md-4 col-sm-6">

              <img src=".././assets/images/team-pic-4.png" class="thumbnail">

            </div>

            <p> {{aboutUs.discription}}</p>

            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


