body, html {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    background-color: #ffffff;
    overflow-x: hidden;
    max-width: 100%;
    height: 635px!important;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    color: #A1ACB5;
}
ul,
ol {
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
}
a { 
    color: #2A363F;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #595959;
    text-decoration: none;
}
a:hover,
a:focus {
    outline: none !important;
}
a img {
    border: none;
}

/* Heading Font Size */
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
}
span {
    color: #a4aeb7;
}
.preloader-dot-loading .cssload-loading i {
    background: #488fe1 !important;
}
/* section-title */
.navbar{
    border-radius: 0px !important;
}
.navbar-inverse .navbar-nav > li > a{ color: #ffffff;}
.navbar-nav li a span{
  display:block;
  font-size:10px;
  color:#FFFFFF;
  position:absolute;
  top:30px;
  left: 15px;
  bottom:0px;
}
.navbar-ex1-collapse ul li a:hover{color: #ffffff!important;}
.navbar-brand{
    padding: 8px 0px 0px 14px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background: #2c398f;}
/* section-title */
.unicod-section {
    padding: 100px 0 10px;
}
.unicod-section-title {
    margin-bottom: 30px;
    text-align: center;
}
.unicod-section-title p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 27px;
    font-style: italic;
    color: #fff;
    font-weight: normal;
}

.unicod-section-title-one {
    margin-bottom: 20px;
    /*text-align: center;*/
}
.unicod-section-title-one h4{
 color: #4c4545;
    padding-top: 18px;
    font-size: 20px;
    font-weight: 600;
}
.hsn-section-title-one {
    margin-bottom: 20px;
    /*text-align: center;*/
}
.hsn-section-title-one > h2 {
  
  font-size: 31px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  color: #0FB4E0;
  padding-bottom: 15px;
  font-weight: bold;
}
.unicod-section-title-one  p {
   color: #2A363F;
    margin-top: 20px;
    font-size: 16px;
    line-height: 27px;
    font-style: italic;
    font-weight: normal;
}
.padding_les {
    padding: 0 !important;
}
.unicod-section-title > h2 { 
   border-bottom: 1px solid #1d262c;
  color: #a4aeb7;
  padding-bottom: 15px;
  font-size: 31px;
  text-transform: uppercase;
  font-weight: bold;
}
.unicod-section-title-one > h2 {
  
  font-size: 31px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  color: #0FB4E0;
  padding-bottom: 15px;
  font-weight: bold;
}

.unicod-margin-bottom-none {
  margin-bottom: 0 !important;
}

/* layer */
.unicod-layer-black {
    position: relative;
}
.unicod-layer-black:before {
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.85);
}

.collor-bottom {
    position: relative;
}
.collor-bottom:before {
    content: " ";
    width: 1px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 0;
    border-bottom: 1px solid #354049;
}
.collor-bottom-smal {
    position: relative;
}
.collor-bottom-smal:before {
    content: " ";
    width: 1px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 185px;
    z-index: 0;
    border-bottom: 1px solid #354049;
}
.collor-border {
    position: relative;
    margin-bottom: 10px;
}
.collor-border:before {
    content: " ";
    width: 0;
    left: 0;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 0;
    border-bottom: 1px solid #354049;
}
.collor-bottom-one {
    position: relative;
}
.collor-bottom-one:before {
    content: " ";
    width: 1px;
    left: 0;
    position: absolute;
    top: -12px;
    width: 100%;
    z-index: 0;
    border-bottom: 1px solid #dedddd;
}
.collor-bottom-two {
    position: relative;
}
.collor-bottom-two:before {    
    content: " ";
    width: 1px;
    left: 0;
    position: absolute;
    top: -16px;
    width: 100%;
    z-index: 0;
    border-bottom: 1px solid #EEEEEE;
}
/* Button */ 

.btn-default:hover {
     background-color: #0fb4e0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.unicod-btn {
    color: #ffffff;
    padding: 8px 30px;
    background: #F5F7F9;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.scroll {
    height: 370px;
    overflow: scroll;
    overflow-x: hidden;
}
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a{background-color: #1f4d6b; color: #fff;}
.nav-tabs-custom>.nav-tabs>li{    border-top: 0px solid transparent;}
.nav-tabs-custom {   box-shadow: 0px 0px; background:none;     border-radius: 3px;}
.nav-tabs-custom>.tab-content{background: none;}

.more-less {
    float: right;
    color: #212121;
}
/* Scroll To Top */
#scrollUp {
    bottom: 10px;
    right: 10px;
    padding: 8px 10px;
    background-color: #0FB4E0;
}
#scrollUp:before {
    content: "\f01b";
    font-family: FontAwesome;
    font-size: 24px;
    color: #ffffff;
    padding-top: 7px;
}

/* ========== 4.  Header css ========== */

.navbar-default {
  background-color: #084C61;
  border-color: #084C61;
}
.navbar-inverse {
  background-color: #084C61;
  border-color: #084C61;
}
.main-header .navbar-default .navbar-nav>li>a:focus, 
.main-header .navbar-default .navbar-nav>li>a:hover {
    /*color: #0FB4E0;*/
    border-radius: 5px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
}


/*============= 5.  Main slider css =================*/ 
#unicod-slider {
  position: relative;
  overflow: hidden;
  height:400px;
}
#unicod-slider .single-slider {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height:400px;
}

.single-slider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
#unicod-slider .slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flax;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height:400px;
}
#unicod-slider .slide-text .slider-inner {
  padding: 20px;
  border-radius: 10px;
  vertical-align: middle;
  margin-top: 83px; 
}
#unicod-slider .slide-text span {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 30px;
  padding-bottom: 10px;
  position: relative;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
#unicod-slider .slide-text h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#unicod-slider .slide-text strong {
  color: #0fb4e0;
  font-weight: 600;
  font-size: 48px;
}
#unicod-slider .slide-text p {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 35px;
  line-height: 29px;
  text-shadow : 1px 1px 0 rgba(0,0,0,.75);
}
#unicod-slider .slide-button .button {
  color: #fff;
  margin: 0 10px 0 0;
  position: relative;
  background: #0FB4E0;
  padding: 8px 30px;
  overflow: hidden;
  font-size:16px;
  font-weight: 400;
  z-index: 3;
  border-radius: 3px;
  text-transform:capitalize;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .slide-button .button.primary {
  background: rgba(29, 38, 44, 0.42);
  border: 1px solid #ddd;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .slide-button .button.primary:before {
  background:#252525;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .slide-button .button.primary:hover {
  border-color: transparent;
  background:#2A363F;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .slide-button .button:last-child {
  margin-right:0px;
}

/*-- Slider Button --*/
#unicod-slider .owl-nav div {
  position: absolute;
  top: 55%;
  background: transparent;
  color: #ffffff;
  width: 42px;
  height: 42px;
  line-height: 38px;
  padding: 0;
  border-radius:0px;
  opacity: 1;
  margin: -18px 0 0;
  font-size: 30px;
  background: #0FB4E0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .owl-nav div:hover {
  border-color:transparent;
  opacity:1;
}
#unicod-slider .owl-nav .owl-prev {
  left: -100px;
}
#unicod-slider:hover .owl-nav .owl-prev {
  left:0px;
}
#unicod-slider .owl-nav .owl-next {
  right:-100px;
}
#unicod-slider:hover .owl-nav .owl-next {
  right:0px;
}

/*-- Slider Dots --*/
#unicod-slider .owl-dots {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 0px;
}
#unicod-slider .owl-dots .owl-dot {
  display: inline-block;
  margin-bottom: 10px;
}
#unicod-slider .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .owl-dots .owl-dot.active span {
  position:relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .owl-dots .owl-dot.active span::before {
  position: absolute;
  left: 50%;
  content: "";
  bottom: 0px;
  border-bottom: 20px solid #2A363F;
  border-right: 20px solid transparent;
  z-index: 4;
  border-left: 20px solid transparent;
  margin-left: -20px;
  bottom: -24px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#unicod-slider .owl-dots .owl-dot:hover span{
  border-color:transparent;
} 
#unicod-slider .owl-dots .owl-dot.active span{
  border-color:transparent;
}
/*-- Slider Animation --*/
#unicod-slider .slide-text{ 
  animation-duration: 0.7s;
  animation-delay: 0.2s;
  
}

.unicod-pricing-fild {
    background-color: #f5f7f9;
    padding: 60px 0 70px !important;
}
.unicod-section-title-one > h3 {
   color: #2a363f;
    margin-top: 20px;
    font-style: italic;
}
.unicod-pricing-fild .pricing-tabile {
    background: #ffffff none repeat scroll 0 0;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #2a363f;
}
.pricing-tabile img {
  border-bottom: 1px solid;
  height: 50px;
  margin-top: 37px;
}
.pricing-tabile-col.pull_center {
    padding-bottom: 15px;
}
.tabile {
    padding: 0 !important;
  }  
  .unicod-pricing-fild .pricing-tabile h2 {
    color: #ffffff;
    font-size: 26px;
    padding: 5px 0 15px;
    text-transform: capitalize;
  }
  .unicod-pricing-fild .pricing-tabile h4 {
    border-top: 1px solid #eeeeee;
    color: #2a363f;
    font-weight: 500;
    padding-top: 13px;
    text-transform: capitalize;
  }
  .unicod-pricing-fild .pricing-tabile .icon {
      padding: 20px 0;
      background-color: red;
      color: #ffffff;
  }
  .unicod-pricing-fild .pricing-tabile span {
    color: #2a363f;
    font-size: 50px;
    margin-bottom: 10px;
  }
  .unicod-pricing-fild .pricing-tabile ul {
      margin-bottom: 20px;
  }
  .unicod-pricing-fild .pricing-tabile ul li {
      border-bottom: 1px solid #aeafbb;
      color: ##292a2d;
      padding: 8px 20px;
      font-size: 15px;
      line-height: 27px;
      font-weight: 300;
  }
.unicod-pricing-fild .pricing-tabile ul li:last-child {
    border-bottom: 0px;
}
  /*=========== 18. Footer css ============*/
.unicod-footer {
   position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
}
.login-service{ padding:10% 0px;}
.unicod-footer.bg-style {
  background: #084C61 none repeat scroll 0 0;
  padding: 2px 0;
  border-top:1px solid #084C61;
}

/* padding */
.unicod-footer-col {
    margin-bottom: 30px !important;
}
.unicod-footer-col-tag {
  margin-bottom: 30px !important;
}
.unicod-footer .unicod-footer-col img {
  height: 50px;
  width: 170px;
}
.unicod-footer .unicod-footer-col h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 24px;
}
.unicod-footer .unicod-footer-socila-col p {
  color: #a1acb5;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-bottom: 22px;
}
.unicod-footer .unicod-footer-col h4 {
    color: #758590;
}

.unicod-footer-social a i {
  border: 1px solid #a1acb5;
  border-radius: 5px;
  color: #a1acb5;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  margin-right: 10px;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.unicod-footer-social a i:hover {
    color: #fff;
    background: #191919;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

}
.unicod-footer-social a {
  color: #ffffff;
  }

.unicod-footer-col-tag > h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 24px;
}
.unicod-footer-link.clearfix > ul {
  padding: 0;
}
.unicod-footer-col-tag a {
    float: left;
    border-radius: 5px;
    border: 1px solid #a1acb5;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #a1acb5;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.unicod-footer-col-tag a:hover {
    color: #fff;
    background: #191919;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

}
.unicod-footer-col-tag .unicod-btn-hov-right {
    padding: 5px 20px;
}
.unicod-footer-col-tag .unicod-btn-hov-right:before {
    background: #CC935C;
}
.tag-group.clearfix {
  margin-bottom: 30px;
}
.unicod-footer-link h4 {
    color: #ffffff !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}
.unicod-footer-link ul li {
  border-bottom: 1px solid #a1acb5;
  margin-bottom: 12px;
  padding-bottom: 7px;
}
.unicod-footer-link ul li a {
    color: #a1acb5;
    font-weight: 300;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.unicod-footer-link ul li a:hover {
    color:#b7c1cb;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.unicod-flickr {
    margin-bottom: 15px;
}
.unicod-flickr .thumb img {
    border-radius: 5px;
    width: 75px;
    height: 75px;
    border: 1px solid #a1acb5;
}
.unicod-flickr .thumb {
    position: relative;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.unicod-flickr .unicod-mar-l10 {
    margin-left: 0;
}
.unicod-flickr .unicod-mar-r10 {
    margin-right: 10px;
}
.unicod-flickr .thumb .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  border-radius: 5px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: scale(0);
   -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.unicod-flickr .thumb:hover .overlay {
    transform: scale(1);
}
.unicod-flickr .thumb .overlay i {
    color: #ffffff;
    font-size: 20px;
    margin-top: 40%;
}
.upper {
    color: #FFFFFF;
    margin: 0;
}
/*copy right start*/

.form-control{
  border-radius:0px !important;
  font-size:13px;
}
.table_text tr td{
    border: 1px solid #ccc;
	height:45px;
	text-align:center;
}
.table_form .form-control{
  border-radius:0px !important;
  border:0px;
}
.table_form tr td input:focus{
  outline: 1px solid #0099e5!important;
  
}
.gsttable .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .gsttable .table-condensed>tfoot>tr>td, .gsttable .table-condensed>tfoot>tr>th { padding:0px!important;}
.table-condensed>thead>tr>th{
  color:#161616;
  font-size:13px;
  padding:8px 13px;
  font-weight:600;}
.modal-header{
  border-bottom:0px;
}
.headsummary{color:#333; padding:10px 0px 1px 0px;  font-weight:bold;}
.modal-text{
 color:#0e4d6c !important;
}


.section-salect{
 padding:60px 0px 50px 0px;
}
.section-form{
 padding:8px 0px 5px 0px;
}


.btn-link:hover {
 text-decoration:none;
}


.section-user{
  padding:5px 0px 10px 0px;
}
.section-table{
  padding:0px 0px 40px 0px;
}
.btn{border-radius: 0px;}

.unicod-copyright p {
    color: #ffffff;
    padding: 10px;
}
.unicod-copyright ul {
    float:right;
}
.unicod-copyright ul li {
    float:left;
    padding: 10px;
}
.unicod-copyright ul li a {
    color: #ffffff;
}
.Copyright span {
  color: #0FB4E0;
  margin-bottom: 10px;
}
.btn-primary{
    background: #0e4d6c!important;
    color: #ffffff;
    border-color:  #0e4d6c!important;
}
/* .preloader-dot-loading .cssload-loading i {
    background: #488fe1 !important;
} */

.modal-dialog{
 margin:14% auto;
}

.section-top-10{
  margin-top:10px;
}
.section-top-20{
  margin-top:20px;
}
.section-top-30{
  margin-top:30px;
}
.section-top-40{
  margin-top:40px;
}
.section-top-50{
  margin-top:50px;
}
.section-top-60{
  margin-top:60px;
}
.section-top-70{
  margin-top:70px;
}
.section-top-80{
  margin-top:80px;
}
.section-top-90{
  margin-top:90px;
}
.section-top-100{
  margin-top:100px;
}

.section-bottom-10{
  margin-bottom:10px;
}
.section-bottom-20{
  margin-bottom:20px;
}
.section-bottom-30{
  margin-bottom:30px;
}
.section-bottom-40{
  margin-bottom:40px;
}
.section-bottom-50{
  margin-bottom:50px;
}
.section-bottom-60{
  margin-bottom:60px;
}
.section-bottom-70{
  margin-bottom:70px;
}
.section-bottom-80{
  margin-bottom:80px;
}
.section-bottom-90{
  margin-bottom:90px;
}
.section-bottom-100{
  margin-bottom:100px;
}
.gst_logo{
 color:#333333;
 font-size:36px;
 font-weight:bold;
}
.user_profile{
 padding-top:10px;
}
.user_profile label{
 padding-top:5px;
 font-size:16px;
}
.user_profile div ul li a i{
 padding:0px 15px 0px 5px;
}
/* changes in css */
.unicod-copyright {
}
.Copyright span {
  color: #0FB4E0;
  margin-bottom: 10px;
}
.preloader-dot-loading .cssload-loading i {
    background: #488fe1 !important;
}
.navbar{
    border-radius: 0px !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ border-bottom:solid 3px #0e4d6c;}
.work-border-right{border-right:solid 1px #999999; }
.well-work{ padding:30px 0px 30px 0px;}
.well-work-in{ padding:20px 0px 20px 0px;}
.work-success{ background:#0e4d6c; color:#FFFFFF;}
/*.dropdown-menu>li>a{
   border-bottom:1px #666666 solid;
}*/
    /*table body */

.text-invoice{
  color:#080808;
  font-size:22px;
  font-weight:600;
}
.fixed-column{
	width: 100px;
    position: absolute;
    /*top: 0;*/
    right: 90px;
    margin-right:15px;
}

.table-wrapper{
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    width: calc(100% - 98px);
}
.table_form tr td input:focus{
	outline: 1px solid #0099e5!important;
}
.modal-sm{
    width: 24%!important;
}.modal-lg{
    width: 68%!important;
}
.main-header .logo{height: 55px;}
.text-gst h3{ color:#0e4d6c; font-weight:bold;}
.text-gst p{ color:#000000; padding-top:30px;}
.text-gst ul li{ color:#000000; font-size:13px;}
.table{ margin-bottom: 0px;}
.table>thead>tr>th{ background:#475f82; color: #ffffff; text-align: center;}
.dropdown-menu > li > a{ padding:6px 12px;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{ background:#acb9c4;}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    display: none;
  padding:0px 0px;
    float: left;
    font-size: 14px;
    left: 16px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}
.modal-header{
    padding: 15px 15px 0px 15px;
}
.invoice label{color:#080808; font-size: 14px; font-weight:500;}

.fixhr{ border-bottom:1px solid #999999; margin:0 2% 20px 2%;}
.alert-success {
    color: #000000;
    background-color: rgba(67, 77, 95, 0.15);
    border-color: #d6e9c6;
}
.color-1{ background:#8fa6cc; color:#FFFFFF;}
.color-2{ background:#21c2f8; color:#FFFFFF;}
.color-3{ background:#ff6569; color:#FFFFFF;}
.color-4{ background:#2c4653; color:#FFFFFF;}
.nav>li{ text-align: center;}
.navbar-default {
    padding: 5px 14px 0px 14px;}
.navbar-nav li a{ margin-bottom:1px!important;}
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a{background-color: #1f4d6b; color: #fff;}
.nav-tabs-custom>.nav-tabs>li{    border-top: 0px solid transparent;}
.nav-tabs-custom {   box-shadow: 0px 0px;     border-radius: 3px;}
.admintext{ font-size: 16px!important; font-weight: bold; padding-top: 10px;}
.navuser{ margin-top: 12px;}
.text-primary{font-size: 25px;vertical-align:middle; padding-top: 5px;}

.navbar-default .navbar-nav>li>a{ color: #ffffff!important;}
.navbar-header-gst .navbar-nav>li>a{ line-height: 12px!important;}
.gstlogout{ color: #ffffff; cursor: pointer; padding: 20px;}
.gstlogout i{margin-top: 15px;}
.gstlogout:hover{color: #ffffff;}
.user_profile b{text-align: right!important;}


#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
    outline: none;
    /*font-weight:bold;*/
    text-decoration: none;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"\e113";
    float: right;
    font-family: 'Glyphicons Halflings';
	/*margin-right :1em;*/
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114";
}
@media screen and (max-width 768px){
.navbar-nav li a span{
  display:block;
  font-size:10px;
  color:#FFFFFF;
  position:relative!important;
  text-align: center!important;
  bottom:0px;
}
}

@media(min-width:767px) {
    .navbar {
        padding: 1px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 5px;
    }
    .header_top_nav{ width:100%; margin-left:none;}
  .table-responsive{ width:100%; border:none;}

    /* Registration start*/
  

/* .img
{
    transition-delay: 500s;
    visibility: hidden;
} */



}