<div class="container">
	<div class="row">
		<div class="col-md-3 navbar-header-gst">
			<div class="navbar-brand">
				<a href="index.html">
					<h2 class="gst_logo">GST</h2>
				</a>
			</div>
		</div>
		<div class="col-md-6">
		</div>
		<div class="col-md-3">
			<div class="user_profile">
				<label>Contact Mail</label>
				<div class="btn-group pull-right" role="group">
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  User email
									  <span class="caret"></span>
									</button>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
						<li><a href="#"><i class="fa fa-cog"></i> Setting</a></li>
						<li><a href="#"><i class="fa fa-key"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<header class="main-header">
	<div class="container-fluid">
		<div class="row">
			<!-- Navigation  navbar-static-top -->
			<nav class="navbar navbar-inverse">
				<div class="container navbar-header-gst">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li>
								<a class="page-scroll" href="#">User Name <span> GSTIN No</span></a>
							</li>
							<li>
								<a class="page-scroll" href="user">Dashboard</a>
							</li>
							<li>
								<a class="page-scroll" href="workreturns">Returns</a>
							</li>
							<li>
								<a class="page-scroll" href="notification">Notification </a>
							</li>
							<li>
								<a class="page-scroll" href="update">Updates </a>
							</li>
							<li>
								<a class="page-scroll" href="videos">Videos </a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
		</div>
	</div>
</header>

<div class="clearfix"></div>


<div class="container">
	<div class="row ">
	

		
		<div class="container inner">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs text-center" id="myTabs" role="tablist">
						<li role="presentation" class="active"><a href="#Summary" id="Summary-tab" role="tab" data-toggle="tab" aria-controls="Summary" aria-expanded="true">Summary </a></li>
						<li role="presentation"><a href="#Invoicewise" role="tab" id="Invoicewise-tab" data-toggle="tab" aria-controls="Invoicewise">Invoice wise Details</a></li>
						<li role="presentation"><a href="#Other" role="tab" id="Other-tab" data-toggle="tab" aria-controls="Other">Other Details</a></li>
						<li role="presentation"><a href="#Aesth" role="tab" id="Aesth-tab" data-toggle="tab" aria-controls="Aesth">Submit</a></li>
						<li role="presentation"><a href="#Aesth" role="tab" id="Aesth-tab" data-toggle="tab" aria-controls="Aesth">File</a></li>
					</ul>
					</div>
        </div></div>
        	<div class="row  section-user">
			<div class="col-md-12 col-sm-12">
				<div class="col-md-3 col-xs-12">
          <h2 class="text-invoice">Edit Invoice</h2>
          
          <a class="page-scroll" href="gstr">Go to Invoice List</a>
				</div>

				<div class="col-md-3 pull-right col-xs-12">
					<a href="#" data-toggle="modal" data-target=".bs-GSTIN-lg"><input type="button" class="btn btn-success pull-right" value="Save Invoice"></a>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>


			<div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row section-top-30">
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">                  
                        <label for="inputEmail3" class="col-sm-5 control-label">Name</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="inputEmail3" value="Patrika" >
                        </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">Invoice No.</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="inputEmail3" value="34L61Z634L61Z6" >
                        </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">Date</label>
                        <div class="col-sm-7">
                          <div class="input-group margin">
                            <input type="text" class="form-control">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-info btn-flat"><i class="fa fa-calendar"></i></button>
                                </span>
                          </div>
                        </div>
            </div>
      
            <div class="col-md-4 col-sm-4 col-xs-12">
                        <label for="inputEmail3" class="col-sm-5 control-label">GSTIN No</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="inputEmail3" value="AGPTK234L61Z6" >
                        </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">POS</label>
                        <div class="col-sm-7">
                          <select name="select" class="form-control" >
                           <option value="">SELECT</option>
														<option value="">01-Jammu & Kashmir</option>
														<option value="">02-Himachal Pradesh</option>
														<option value="">03-Punjab</option>
														<option value="">04-Chandigarh</option>
														<option value="">05-Uttarakhand</option>
														<option value="">06-Haryana</option>
														<option value="">07-Delhi</option>
														<option value="">08-Rajasthan</option>
														<option value="">09-Uttar Pradesh</option>
														<option value="">10-Bihar</option>
														<option value="">11-Sikkim</option>
														<option value="">12-Arunachal Pradesh</option>
														<option value="">13-Nagaland</option>
														<option value="">14-Manipur</option>
														<option value="">15-Mizoram</option>
														<option value="">16-Tripura</option>
														<option value="">17-Meghalaya</option>
														<option value="">18-Assam</option>
														<option value="">19-West Bengal</option>
														<option value="">20-Jharkhand</option>
														<option value="">21-Odisha</option>
														<option value="">22-Chhattisgarh</option>
														<option value="">23-Madhya Pradesh</option>
														<option value="">24-Gujarat</option>
														<option value="">25-Daman & Diu</option>
														<option value="">26-Dadra & Nagar Haveli</option>
														<option value="">27-Maharashtra</option>
														<option value="">29-Karnataka</option>
														<option value="">30-Goa</option>
														<option value="">31-Lakshdweep</option>
														<option value="">32-Kerala</option>
														<option value="">33-Tamil Nadu</option>
														<option value="">34-Pondicherry</option>
														<option value="">35-Andaman & Nicobar Islands</option>
														<option value="">36-Telangana</option>
														<option value="">37-Andhra Pradesh</option>
														<option value="">97-Other Territory</option>
                          </select>
                        </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">E-Com GSTIN</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="inputEmail3" value="AGPTK234L61Z6" >
                        </div>
            </div>
      </div>
      
      
    </div>




		<!-- <div class="row">

			<div class="col-md-5 col-sm-12 col-xs-12">

				<div class="col-md-8 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Invoice Serial Number</label>
					<input type="email" class="form-control" id="" placeholder="Invoice Serial Number">
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Invoice Date</label>
					<div class="input-group margin">
                            <input type="text" class="form-control">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-info btn-flat"><i class="fa fa-calendar"></i></button>
                                </span>
                          </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 pull-right">
				<div class="col-md-8 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Reference </label>
					<input type="email" class="form-control" id="" placeholder="Reference">
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Due Date</label>
					<div class="input-group margin">
                            <input type="text" class="form-control">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-info btn-flat"><i class="fa fa-calendar"></i></button>
                                </span>
                          </div>
				</div>
			</div>

			<div class="col-md-5 col-sm-12 col-xs-12">

				<div class="col-md-12 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Customer Name</label>
					<input type="email" class="form-control" id="" placeholder="Customer Name">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 pull-right">
				<div class="col-md-6 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Billing Address</label>
					<input type="email" class="form-control" id="" placeholder="Reference">-->
				<!-- </div>
				<div class="col-md-6 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Shipping Address</label>
					<input type="email" class="form-control" id="" placeholder="Due Date">
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="col-md-6 col-sm-12 col-xs-12">

				<div class="col-md-6 col-sm-12 col-xs-12 form-group invoice">
					<label for="">GSTIN:</label>
					<input type="email" class="form-control" id="" placeholder="GSTIN No">
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Place of Supply:</label>
					<select class="form-control">
									<option value="" selected="selected"> -- Place of Supply  -- </option>
									<option value=""> Jabalpur</option>
									<option value=""> Bhopal</option>
									<option value=""> Raipur</option>
								</select>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 pull-right">
				<div class="col-md-6 col-sm-12 col-xs-12 form-group invoice">
					<input type="email" class="form-control" id="" placeholder="Due Date">
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 form-group invoice">
					<label for="">Same as billing address</label>
					<input type="email" class="form-control" id="" placeholder="Reference">
				</div>
			</div>


		</div> --> 
		<div class="clearfix"></div>
		 <div class="section-top-10 col-md-12 col-sm-12 section-bottom-20">
        <div class="table-responsive gsttable">
          <table class="table table-condensed  table-hover table-bordered">
            <tr>
              <td><table class="table table-condensed table-wrapper table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2">S.No</th>
                    <th rowspan="2">Description</th>
                    <th rowspan="2" width="100px">Goods Services</th>
                    <th rowspan="2">HSN / SAC </th>
                    <th rowspan="2">QTY </th>
                    <th rowspan="2">Unit Of Measurement</th>
                    <th rowspan="2">Taxable Value</th>
                    <th rowspan="2" width="90px">Rate Of Tax</th>
                    <th rowspan="2">CGST</th>
                    <th rowspan="2">SGST</th>
                    <th rowspan="2">IGST</th>
                    <th colspan="2">CESS</th>
                  </tr>
                  <tr>
                    <th>Rate</th>
                    <th>AMT </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center"> 1</td>
                    <td><input type="text" class="form-control" value="Mesuarement"></td>
                    <td><select name="select" class="form-control">
                            <option value="">Select</option>
                            <option value="">Goods</option>
                            <option value="">Services</option>
							</select>
					</td>
                    <td><input type="text" class="form-control" value="HSN"></td>
                    <td><input type="text" class="form-control" value="500"></td>
                    <td>
					<select name="select" class="form-control">
                            <option value="">Select</option>
                            <option value="">K.G.</option>
							<option value="">GM.</option>
                            <option value="">Number</option>
							
							<option value="">Mtr</option>
							</select>
					</td>
                    <td><input type="text" class="form-control" value="49"></td>
                    <td><select name="select" class="form-control">
                            <option value=""> 0%</option>
                            <option value="" selected="selected" > 0.25%</option>
                            <option value=""> 3%</option>
                            <option value="">5%</option>
                            <option value=""> 12%</option>
                            <option value=""> 18%</option>
                            <option value=""> 28%</option>
                          </select></td>
                    <td><input type="text" class="form-control" value="345"></td>
                    <td><input type="text" class="form-control" value="34"></td>
                    <td><input type="text" class="form-control" value="34"></td>
                    <td><input type="text" class="form-control" value="4"></td>
                    <td><input type="text" class="form-control" value="45"></td>
                  </tr>
                  <tr>
                    <td align="center"> 2</td>
                     <td><input type="text" class="form-control" value="Mesuarement"></td>
                    <td>
					<select name="select" class="form-control">
                            <option value="">Select</option>
                            <option value="">Goods</option>
                            <option value="">Services</option>
							</select>
					</td>
                    <td><input type="text" class="form-control" value="HSN"></td>
                    <td><input type="text" class="form-control" value="500"></td>
                    <td>
					<select name="select" class="form-control">
                            <option value="">Select</option>
                            <option value="">K.G.</option>
							<option value="">GM.</option>
                            <option value="">Number</option>
							
							<option value="">Mtr</option>
							</select>
					</td>
                    <td><input type="text" class="form-control" value="49"></td>
                     <td><select name="select" class="form-control">
                            <option value=""> 0%</option>
                            <option value="" selected="selected" > 0.25%</option>
                            <option value=""> 3%</option>
                            <option value="">5%</option>
                            <option value=""> 12%</option>
                            <option value=""> 18%</option>
                            <option value=""> 28%</option>
                          </select></td>
                    <td><input type="text" class="form-control" value="345"></td>
                    <td><input type="text" class="form-control" value="34"></td>
                    <td><input type="text" class="form-control" value="34"></td>
                    <td><input type="text" class="form-control" value="4"></td>
                    <td><input type="text" class="form-control" value="45"></td>
                  </tr>
                  <tr>
                    <td align="center"> 3</td>
                     <td><input type="text" class="form-control" value="Mesuarement"></td>
                    <td>
					<select name="select" class="form-control">
                            <option value="">Select</option>
                            <option value="">Goods</option>
                            <option value="">Services</option>
							</select>
					</td>
                    <td><input type="text" class="form-control" value="HSN"></td>
                    <td><input type="text" class="form-control" value="500"></td>
                    <td>
					<select name="select" class="form-control">
                            <option value="">Select</option>
                            <option value="">K.G.</option>
							<option value="">GM.</option>
                            <option value="">Number</option>
							
							<option value="">Mtr</option>
							</select>
					</td>
                    <td><input type="text" class="form-control" value="49"></td>
                     <td><select name="select" class="form-control">
                            <option value=""> 0%</option>
                            <option value="" selected="selected" > 0.25%</option>
                            <option value=""> 3%</option>
                            <option value="">5%</option>
                            <option value=""> 12%</option>
                            <option value=""> 18%</option>
                            <option value=""> 28%</option>
                          </select></td>
                    <td><input type="text" class="form-control" value="345"></td>
                    <td><input type="text" class="form-control" value="34"></td>
                    <td><input type="text" class="form-control" value="34"></td>
                    <td><input type="text" class="form-control" value="4"></td>
                    <td><input type="text" class="form-control" value="45"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control" value=""></td>
                    <td colspan="8" align="right">Total in Words</td>
                    <td colspan="4" align="right"><b>Grand Total =</b></td>
                  </tr>
                </tbody>
              </table></td>
              <td><table class="table table-condensed table-bordered fixed-column">
                <thead>
                  <tr>
                    <th rowspan="2"><br>Total<br> &nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" class="form-control" value="900.00/-"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control" value="12,000.00/-"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control" value="45,000.00/-"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control" value="57,900.00/-" ></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          </table>
        </div>
      </div>
		<!-- <div class="col-md-12 col-sm-12  col-xs-12 form-group invoice">
			<label for="">Customer Notes:</label>
			<textarea type="email" class="form-control" rows="5" id=""></textarea>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12 form-group invoice">
			<label for="">Terms And Conditions:</label>
			<textarea type="email" class="form-control" rows="5" id=""></textarea>
		</div> -->
		<div class="text-center section-bottom-60">
			<button class="btn btn-success"> Save Invoice</button>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- Footer Start -->
<footer class="unicod-footer bg-style">

	<div class="container-fluid unicod-copyright">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="Copyright">
					<p>Copyright 2017, GST. All Rights Reserved </p>
				</div>
			</div>
		</div>
	</div>
</footer>