<section class="content-header">
	<h1>&nbsp; </h1>
	<ol class="breadcrumb">
		<li>
			<a href="index.html">
				<i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">Branches List</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="box box-info">
		<div class="row">

			<div class="col-md-8 col-xs-12">
				<div class="box-header">
					<h3 class="text-blue">Branches List</h3>
				</div>
			</div>

			<div class="col-md-4 col-xs-12">
				<!-- <div class="text-right">
			<input type="button" class="btn btn-primary" value="Import CSV">
  
			<input type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-user-lg" value="Add New" (click)="resetForm()">
		  </div> -->
			</div>

			<div class="clearfix"></div>

			<div class="col-md-3 col-xs-12">
				<div class="input-group section-bottom-20">
					<input type="text" placeholder="Search Name" (input)="searchKeyword($event.target.value)" class="form-control" [(ngModel)]=searchString
					 data-inputmask="'alias': 'ip'" data-mask>
					<div class="input-group-addon">
						<i class="fa fa-search" (click)="searchKeyword(searchString)">
						</i>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-xs-12">

				<div class="table-responsive no-padding scroll">
					<table class="table table-condensed  table-hover table-bordered">
						<thead>
							<tr>
								<th width="6%">S No.</th>
								<th width="15%">Name</th>
								<th width="10%">Branch Name</th>
								<th width="10%">GSTIN</th>
								<th width="10%">PAN No.</th>
								<th width="10%">Contact</th>
								<th width="15%">Address</th>
								<th width="8%">City</th>
								<th width="8%">State</th>
								<th width="8%" class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of dataList;let i = index;">
								<!-- <tr *ngFor="let item of dataList | stateFilter:searchString; let i = index;"> -->
								<td align="center">{{pager.pageSize * (pager.currentPage-1)+i+1}}</td>
								<td align="center">{{item.name}}</td>
								<td align="center">{{item.branch_name}}</td>
								<td align="center">{{item.gstin}}</td>
								<td align="center">{{item.pan_no}}</td>
								<td align="center">{{item.contact}}</td>
								<td align="center">{{item.address}}</td>
								<td align="center">{{item.city}}</td>
								<td align="center">{{item.state}}</td>

								<td align="center">
									<a data-toggle="modal" data-target=".bs-edit-modal-lg">
										<button class="fa fa-edit btn btn-primary btn-sm" title="Edit" (click)="editRecords(item)"></button>
									</a>
									<a href="" data-toggle="modal" data-target=".bs-delete-sm">
										<button class="fa fa-trash btn btn-danger btn-sm" title="Delete" (click)="recordToDelete(item)"></button>
									</a>
								</td>
							</tr>
						</tbody>
					</table>


					<ul class="pagination btn-sm" *ngIf="dataList?.length > 1">
						<li [ngClass]="{disabled:pager.currentPage === 1}">
							<a *ngIf="pager.currentPage > 1" (click)="getDataList(pager.currentPage - 1)">Previous</a>
						</li>

						<li [ngClass]="{disabled:pager.currentPage === 1}">
							<a *ngIf="pager.currentPage ==1">Previous</a>
						</li>

						<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
							<a (click)="getDataList(page)">{{page}}</a>
						</li>

						<li [ngClass]="{disabled:pager.currentPage === pager.endPage}">
							<a *ngIf="pager.currentPage < pager.endPage" (click)="getDataList(pager.currentPage + 1)">Next</a>
						</li>
						<li [ngClass]="{disabled:pager.currentPage === pager.endPage}">
							<a *ngIf="pager.currentPage == pager.endPage">Next</a>
						</li>
					</ul>

				</div>
			</div>

		</div>

	</div>
</section>
<!-- /.content -->

<!-- User Form Start -->

<div class="modal fade bs-edit-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content section-form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title modal-text" align="center">
					<b>Update</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>

						<div class="col-md-10 alert alert-danger" *ngIf="errorType == true">
							<strong>Sorry!</strong>{{errorMsg}}
						</div>
						<div class="col-md-10 col-sm-10">
							<form [formGroup]="myForm" novalidate (ngSubmit)="update( myForm.valid)">
								<!-- <form [formGroup]="myForm" novalidate (ngSubmit)="save()"> -->

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="name" placeholder="Name" required>
									<small [hidden]="myForm.controls['name'].valid || (myForm.controls['name'].pristine && !submitted)">
										Name is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="contact" maxlength="10" placeholder="Contact No.">
									<small [hidden]="myForm.controls['contact'].valid || (myForm.controls['contact'].pristine && !submitted)">
										Contact is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="pan_no" placeholder="PAN No." pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}">
									<small [hidden]="myForm.controls['pan_no'].valid || (myForm.controls['pan_no'].pristine && !submitted)">
										<span style="color:red" [hidden]="myForm.controls['pan_no'].valid">Pan No is required.</span>
										<b [hidden]="myForm.controls['pan_no'].pristine">YHSDS2345E</b>
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="email" placeholder="Email Id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
									<small [hidden]="myForm.controls['email'].valid || (myForm.controls['email'].pristine && !submitted)">
										<span style="color:red" [hidden]="myForm.controls['email'].valid">Email is required </span>
										<b [hidden]="myForm.controls['email'].pristine">joe@abc.com</b>
									</small>

								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="gstin" placeholder="GSTIN" name="gstin" id="gstin">
									<small [hidden]="myForm.controls['gstin'].valid || (myForm.controls['gstin'].pristine && !submitted)">
										GSTIN is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="address" placeholder="Address" name="address" id="address">
									<small [hidden]="myForm.controls['address'].valid || (myForm.controls['address'].pristine && !submitted)">
										Address is required (minimum 5 characters).
									</small>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<select class="form-control" formControlName="selectedDealer" required>
										<option value="-1" name="Select Dealer" selected="selected">Select Dealer</option>
										<option value="0" name="Regular">Regular</option>
										<option value="1" name="Composition">Composition</option>
										<option value="2" name="ISD">ISD</option>
										<option value="2" name="E-Commerce">E-Commerce</option>
									</select>
									<small *ngIf="myForm.controls['selectedDealer'].value=='-1' && submitted">
										Please select dealer !
									</small>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" placeholder="City" formControlName="city" name="city" id="city">
									<small [hidden]="myForm.controls['city'].valid || (myForm.controls['city'].pristine && !submitted)">
										City is required (minimum 5 characters).
									</small>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" class="form-control" formControlName="branch_name" placeholder="Branch Name" name="branch_name" id="branch_name">
									<small [hidden]="myForm.controls['branch_name'].valid || (myForm.controls['branch_name'].pristine && !submitted)">
										Branch Name is required (minimum 5 characters).
									</small>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 form-group">
									<select class="form-control" formControlName="state" [(ngModel)]="selectedState" required>
										<option value="" selected="selected">Select State</option>
										<option *ngFor="let item of stateDropDownList" value="{{item.name}}">{{item.name}}</option>
									</select>
									<small *ngIf="myForm.controls['state'].value ==='' && submitted">
										Please select state !
									</small>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<button type="submit" class="btn btn-success">Save</button>
									<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" value="Cancel">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->

<!-- delete Start -->

<div class="modal fade bs-delete-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" #closeBtn2 aria-label="Close">
					<span class="modal-text" aria-hidden="true">X</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="service-section">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<h4 class="text-blue">Sure, you want to delete ?
									<br>
									<br>
								</h4>
							</div>
							<div class="text-center">
								<input type="button" class="btn btn-success" (click)="deleteRecord()" value="Yes"> &nbsp; &nbsp;
								<input type="button" class="btn btn-primary" data-dismiss="modal" value="No">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>