<!-- summary Tab -->
<div class="tabs">

  <div class="clearfix"></div>
  <ul class="nav nav-pills">
    <li role="presentation">
      <a routerLink="../summarypage">Summary</a>
    </li>
    <li role="presentation" class="active">
      <a routerLink="../gstr">Invoice Wise Detail</a>
    </li>
    <li role="presentation">
      <a routerLink="../other">Other</a>
    </li>
    <li role="presentation">
      <a routerLink="../">Submit</a>
    </li>
    <li role="presentation">
      <a routerLink="../">File</a>
    </li>
  </ul>
</div>
<div class="clearfix"></div>
<div class="section-top-20 section-bottom-10 row">

  <div class="col-md-6 col-xs-12  section-bottom-20">
    <h2 class="text-invoice">Create Invoice</h2>
  </div>
  <div class="col-md-6 col-xs-12 text-right">
    <a routerLink="../newinvoice">
      <input type="button" class="btn btn-success" value="Save Data">
    </a>

    <a routerLink="../gstr">
      <input type="button" class="btn btn-success" value="Back">
    </a>

  </div>

</div>

<div class="clearfix"> </div>
<form [formGroup]="reimburshForm" novalidate="">
  <div>
    <!-- <form [formGroup]="invoiceTypeRadioForm" novalidate> -->
    <label>
      <input type="radio" [checked]="true" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Normal_Invoice">Normal Invoice</label>
    <label>
      <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Reverse_Charge">Reverse Charge</label>
    <label>
      <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="E_Commerce">E-commerce</label>
    <label>
      <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Debit_Note">Debit Note</label>
    <label>
      <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Credit_Note">Credit Note</label>
    <!-- </form> -->
  </div>

  <div class="row">
    <div class="section-bottom-10 section-top-10">
      <!-- <form [formGroup]="customerDetailsForm" novalidate (ngSubmit)="save( customerDetailsForm.valid )"> -->
      <div class="col-md-4 col-sm-4 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">Name</label>
        <div class="col-sm-7">
          <input id="customerName" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=search() formControlName="name">
          <div *ngIf="filteredList.length > 0">
            <div class="completer-dropdown" *ngFor="let item of filteredList">
              <ul class="box">
                <li>
                  <a (click)="select(item)">{{item}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">Invoice No.</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="invoiceNo" formControlName="invoiceNo" value="ABC12345">
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">Date</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="date" formControlName="date" value="22-11-17">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <label for="inputEmail3" class="col-sm-5 control-label">GSTIN No</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="gstin" formControlName="gstin" value="">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">POS</label>
        <div class="col-sm-7">
          <select class="form-control" formControlName="pos" required>
            <option value="0">Select State</option>
            <option *ngFor="let item of stateList" [value]="item.code"> {{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">E-Com GSTIN</label>
        <div class="col-sm-7">
          <input type="text" [readonly]="disableEcommerceInput" class="form-control" id="eComGstin" formControlName="eComGstin">
        </div>
      </div>
      <!-- </form> -->
    </div>
  </div>


  <!-- table contect   table-hover-->
  <div class="table-responsive gsttable">
    <!-- <form [formGroup]="addInvoiceForm" novalidate (ngSubmit)="addNew(addInvoiceForm)"> -->
    <table class="table table-condensed  table-hover table-bordered" formArrayName="salesList">
      <thead>
        <tr>
          <th rowspan="3">S.No</th>
          <th rowspan="3">Description</th>
          <th rowspan="3" width="100px">Goods Services</th>
          <th rowspan="3">HSN / SAC </th>
          <th rowspan="3">QTY </th>
          <th rowspan="3">Unit Of Measurement</th>
          <th rowspan="3">Taxable Value</th>
          <th rowspan="3" width="100px">Rate Of Tax</th>
          <th rowspan="3">CGST</th>
          <th rowspan="3">SGST</th>
          <th rowspan="3">IGST</th>
          <th colspan="4">CESS</th>
          <th colspan="4">
            <button (click)="addSalesListItem()">Add</button>
          </th>
        </tr>
        <!-- <tr>
          <th>Rate</th>
          <th>AMT </th>
          <th rowspan="3">Total</th>
          <th rowspan="3">Action</th>
        </tr> -->

      </thead>
      <tbody>

        <!-- <div  *ngFor="let item of invoiceList ;let i = index;"> -->
        <tr *ngFor="let saleList of salesListArray.controls;let i = index" [formGroupName]="i">
          <td align="center"> 1</td>
          <td>
            <!-- <input type="text" class="form-control" value="Mesuarement"> -->
            <!-- <input type="text" class="form-control"  > -->

            <input id="description" type="text" formControlName="description" class="validate filter-input" [(ngModel)]=descriptionQuery (keyup)=searchDescription() required>
            <div *ngIf="filteredDescriptionList.length > 0">
              <div class="completer-dropdown" *ngFor="let item of filteredDescriptionList">
                <ul class="box">
                  <li>
                    <a (click)="selectDesciption(item)">{{item.description}}</a>
                  </li>
                </ul>
              </div>
            </div>

          </td>
          <td>
            <select class="form-control" formControlName="goodservice">
              <option *ngFor="let sr of serice" [value]="sr">{{sr}}</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" formControlName="hsn" required>
            <!-- <input type="text" class="form-control" value="HSN"> -->
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="500"> -->
            <input type="text" class="form-control" formControlName="qty" required>
          </td>
          <td>
            <select class="form-control" formControlName="uom">
              <option *ngFor="let un of unit" [value]="un"> {{un}}</option>
            </select>
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="49"> -->
            <input type="text" class="form-control" formControlName="tax" required>
          </td>
          <td>
            <select class="form-control" formControlName="rtax">
              <option *ngFor="let rt of rate" [value]="rt"> {{rt}} </option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" formControlName="sgst" required>
            <!-- <input type="text" class="form-control" value="345"> -->
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="34"> -->
            <input type="text" class="form-control" formControlName="igst" required>
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="34"> -->
            <input type="text" class="form-control" formControlName="val1" required>
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="4"> -->
            <input type="text" class="form-control" formControlName="val2" required>
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="45"> -->
            <input type="text" class="form-control" formControlName="val3" required>
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="500"> -->
            <input type="text" class="form-control" formControlName="val4" required>
          </td>
          <td>
            <!-- <input type="text" class="form-control" value="500"> -->
            <input type="text" class="form-control" formControlName="val5" required>
          </td>
          <td>
            <button (click)="deleteRow(i)">Remove</button>
          </td>
        </tr>


        <!-- <tr>
            <td>
              <input type="text" class="form-control" value="">
            </td>
            <td></td>
            <td colspan="8" align="right" class="Total_word">Total in Words</td>
            <td colspan="4" align="right" class="Grand_total">
              <b>Grand Total =</b>
            </td>
            <td>
              <input type="text" class="form-control" value="500">
            </td>
          </tr> -->
      </tbody>

    </table>
    <!-- </form> -->
  </div>
  <div class="text-center section-bottom-60">
    <button class="btn btn-success btnSave_data" (click)='submitForm(reimburshForm.value)'> Save Data</button>
  </div>
</form>