<!-- summary Tab -->
<div class="tabs">

  <div class="clearfix"></div>
  <ul class="nav nav-pills">
    <li role="presentation"><a routerLink="../summarypage">Summary</a></li>
    <li role="presentation" class="active"><a routerLink="../gstr">Invoice Wise Detail</a></li>
    <li role="presentation"><a routerLink="../other">Other</a></li>
    <li role="presentation"><a routerLink="../">Submit</a></li>
    <li role="presentation"><a routerLink="../">File</a></li>
  </ul>


</div>
<div class="clearfix"></div>





<div class="section-top-20 section-bottom-10 row">

  <div class="col-md-6 col-xs-12  section-bottom-20">
    <h2 class="text-invoice">Create Invoice</h2>
  </div>



  <div class="col-md-6 col-xs-12 text-right">
    <a routerLink="../newinvoice"><input type="button" class="btn btn-success" value="Save Data"></a> 

     <a routerLink="../gstr"><input type="button" class="btn btn-success" value="Back"></a> 
  
  </div>

  <div class="clearfix"> </div>


  <div class="radio">
    <label><input type="radio" [(ngModel)]="Inv-type" name="Inv-type" value="Normal_Invoice" >Normal Invoice</label>
  </div>
  <div class="radio">
    <label><input type="radio" [(ngModel)]="Inv-type" name="Inv-type" value= "Reverse_Charge">Reverse Charge</label>
  </div>
  <div class="radio">
    <label><input type="radio" [(ngModel)]="Inv-type" name="Inv-type" value="commerce">E-commerce</label>

  </div>
  <div class="radio">
    <label><input type="radio" [(ngModel)]="Inv-type" name="Inv-type" value= "Debit_Note">Debit Note</label>
  </div>
  <div class="radio">
    <label><input type="radio" [(ngModel)]="Inv-type" name="Inv-type" value="Credit_Note">Credit Note</label>

  </div>

</div>
<div class="row">
<div class="section-bottom-10 section-top-10">
  <div class="col-md-4 col-sm-4 col-xs-12 form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputEmail3" value="Patrika">
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Invoice No.</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputEmail3" value="34L61Z634L61Z6">
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Date</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputEmail3" value="19-SEP-2017">
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <label for="inputEmail3" class="col-sm-5 control-label">GSTIN No</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputEmail3" value="AGPTK234L61Z6">
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">POS</label>
    <div class="col-sm-7">
      <select class="form-control">
                            <option *ngFor="let pl of place" [value]="pl"> {{pl}}</option>
                          </select>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">E-Com GSTIN</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputEmail3" value="AGPTK234L61Z6">
    </div>
  </div>

</div>
</div>
<div class="table-responsive gsttable">
  <table class="table table-condensed  table-hover table-bordered">
    <tr>
      <td>
        <table class="table table-condensed table-wrapper table-bordered">
          <thead>
            <tr>
              <th rowspan="2">S.No</th>
              <th rowspan="2">Description</th>
              <th rowspan="2" width="100px">Goods Services</th>
              <th rowspan="2">HSN / SAC </th>
              <th rowspan="2">QTY </th>
              <th rowspan="2">Unit Of Measurement</th>
              <th rowspan="2">Taxable Value</th>
              <th rowspan="2" width="100px">Rate Of Tax</th>
              <th rowspan="2">CGST</th>
              <th rowspan="2">SGST</th>
              <th rowspan="2">IGST</th>
              <th colspan="2">CESS</th>
            </tr>
            <tr>
              <th>Rate</th>
              <th>AMT </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center"> 1</td>
              <td><input type="text" class="form-control" value="Mesuarement"></td>
              <td>
                <select class="form-control">
                            <option *ngFor="let sr of serice"[value]="sr">{{sr}}</option>
                            <!-- <option value="">Goods</option>
                            <option value="">Services</option> -->
							</select>
              </td>
              <td><input type="text" class="form-control" value="HSN"></td>
              <td><input type="text" class="form-control" value="500"></td>
              <td>
                <!-- <select name="select" class="form-control"> -->
                <select class="form-control">
                             <option *ngFor="let un of unit" [value]="un"> {{un}}</option>
							</select>
              </td>
              <td><input type="text" class="form-control" value="49"></td>
              <td>

                <select class="form-control">
                            <option *ngFor="let rt of rate" [value]="rt"> {{rt}} </option>
                          </select>

              </td>
              <td><input type="text" class="form-control" value="345"></td>
              <td><input type="text" class="form-control" value="34"></td>
              <td><input type="text" class="form-control" value="34"></td>
              <td><input type="text" class="form-control" value="4"></td>
              <td><input type="text" class="form-control" value="45"></td>
            </tr>
            <tr>
              <td align="center"> 2</td>
              <td><input type="text" class="form-control" value="Mesuarement"></td>
              <td>
                <select class="form-control">
                           <option *ngFor="let sr of serice"[value]="sr">{{sr}}</option>
							</select>
              </td>
              <td><input type="text" class="form-control" value="HSN"></td>
              <td><input type="text" class="form-control" value="500"></td>
              <td>
                <select class="form-control">
                            <option *ngFor="let un of unit" [value]="un"> {{un}}</option>
							</select>
              </td>
              <td><input type="text" class="form-control" value="49"></td>
              <td>
                <select class="form-control">
                            <option *ngFor="let rt of rate" [value]="rt"> {{rt}} </option>
                          </select>
              </td>
              <td><input type="text" class="form-control" value="345"></td>
              <td><input type="text" class="form-control" value="34"></td>
              <td><input type="text" class="form-control" value="34"></td>
              <td><input type="text" class="form-control" value="4"></td>
              <td><input type="text" class="form-control" value="45"></td>
            </tr>
            <tr>
              <td align="center"> 3</td>
              <td><input type="text" class="form-control" value="Mesuarement"></td>
              <td>
                <select class="form-control">
                             <option *ngFor="let sr of serice"[value]="sr">{{sr}}</option>
							</select>
              </td>
              <td><input type="text" class="form-control" value="HSN"></td>
              <td><input type="text" class="form-control" value="500"></td>
              <td>
                <select class="form-control">
                            <option *ngFor="let un of unit" [value]="un"> {{un}}</option>
							</select>
              </td>
              <td><input type="text" class="form-control" value="49"></td>
              <td>
                <select class="form-control">
                            <option *ngFor="let rt of rate" [value]="rt"> {{rt}} </option>
                          </select>
              </td>
              <td><input type="text" class="form-control" value="345"></td>
              <td><input type="text" class="form-control" value="34"></td>
              <td><input type="text" class="form-control" value="34"></td>
              <td><input type="text" class="form-control" value="4"></td>
              <td><input type="text" class="form-control" value="45"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control" value=""></td>
              <td colspan="8" align="right" class="Total_word">Total in Words</td>
              <td colspan="4" align="right" class="Grand_total"><b>Grand Total =</b></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table table-condensed table-bordered fixed-column">
          <thead>
            <tr>
              <th rowspan="2"><br>Total<br> &nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" value="900.00/-"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control" value="12,000.00/-"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control" value="45,000.00/-"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control" value="57,900.00/-"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class="text-center section-bottom-60">
  <button class="btn btn-success btnSave_data"> Save Data</button>
</div>