<!-- summary Tab -->
<div class="tabs">

  <div class="clearfix"></div>
  <ul class="nav nav-pills">
    <li role="presentation">
      <a routerLink="../summarypage">Summary</a>
    </li>
    <li role="presentation" class="active">
      <a routerLink="../gstr">Invoice Wise Detail</a>
    </li>
    <li role="presentation">
      <a routerLink="../other">Other</a>
    </li>
    <li role="presentation">
      <a routerLink="../">Submit</a>
    </li>
    <li role="presentation">
      <a routerLink="../">File</a>
    </li>
  </ul>


</div>
<div class="clearfix"></div>





<div class="section-top-20 section-bottom-10 row">

  <div class="col-md-6 col-xs-12  section-bottom-20">
    <h2 class="text-invoice">Create Invoice</h2>
  </div>



  <div class="col-md-6 col-xs-12 text-right">
    <a routerLink="../newinvoice">
      <input type="button" class="btn btn-success" value="Save Data">
    </a>

    <a routerLink="../gstr">
      <input type="button" class="btn btn-success" value="Back">
    </a>

  </div>

  <div class="clearfix"> </div>

  <div>
    <form [formGroup]="invoiceTypeRadioForm" novalidate>
      <label>
        <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Normal_Invoice">Normal Invoice</label>
      <label>
        <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Reverse_Charge">Reverse Charge</label>
      <label>
        <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="E_Commerce">E-commerce</label>
      <label>
        <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Debit_Note">Debit Note</label>
      <label>
        <input type="radio" (change)=selectRadio() formControlName="invoiceTypeRadio" name="invoiceTypeRadio" value="Credit_Note">Credit Note</label>
    </form>
  </div>

</div>
<div class="row">
  <div class="section-bottom-10 section-top-10">
    <form [formGroup]="customerDetailsForm" novalidate (ngSubmit)="save( customerDetailsForm.valid )">
      <div class="col-md-4 col-sm-4 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">Name</label>
        <div class="col-sm-7">
          <input id="customerName" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=search() formControlName="name">
          <div class="suggestions" *ngIf="filteredList.length > 0">
            <div *ngFor="let item of filteredList">
              <ul>
                <li>
                  <a (click)="select(item)">{{item}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">Invoice No.</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="invoiceNo" formControlName="invoiceNo" value="ABC12345">
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">Date</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="date" formControlName="date" value="22-11-17">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <label for="inputEmail3" class="col-sm-5 control-label">GSTIN No</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="gstin" formControlName="gstin" value="">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">POS</label>
        <div class="col-sm-7">
          <select class="form-control" formControlName="pos">
            <option *ngFor="let pl of place" [value]="pl"> {{pl}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        <label for="inputEmail3" class="col-sm-5 control-label">E-Com GSTIN</label>
        <div class="col-sm-7">
          <input type="text" [readonly]="disableEcommerceInput" class="form-control" id="eComGstin" formControlName="eComGstin">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="table-responsive gsttable">
  <table class="table table-condensed  table-hover table-bordered">
    <tr *ngFor="let item of goodsData; let i = index;">
      <td align="center">{{goodsPager.pageSize * (goodsPager.currentPage-1)+i+1}}</td>
      <td align="center">{{ item.hsn_code }}</td>
      <td align="center">{{item.description}}</td>
      <td align="center">{{item.cgst}}</td>
      <td align="center">{{item.sgst}}</td>
      <td align="center">{{item.igst}}</td>
      <td align="center">{{item.igst}}</td>
      <td align="center">{{item.condition}}</td>
    </tr>
  </table>
</div>

<div class="text-center section-bottom-60">
  <button class="btn btn-success btnSave_data"> Save Data</button>
</div>