<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="index.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <b>GST</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <b>GST</b>
        </span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- <img src="../images/user-128.png" class="user-image" alt="User Image"> -->
                <span class="hidden-xs">Admin </span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-primary btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <!-- side bar -->

    <aside class="main-sidebar">
        
              <section class="sidebar">
        
                <ul class="sidebar-menu" data-widget="tree">
                  <li>
                    <a routerLink="/admin-dashboard">
                      <i class="fa fa-dashboard"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-state">
                      <i class="fa fa-user"></i>
                      <span>State</span>
                    </a>
                  </li>
                  <!-- <li>
                            <a routerLink="/admin-dealer-type">
                              <i class="fa fa-users"></i>
                              <span>Dealer types</span>
                            </a>
                          </li> -->
                  <li>
                    <a routerLink="/admin-hsn-code">
                      <i class="fa fa-envelope"></i>
                      <span>HSN code</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-gov-notification">
                      <i class="fa fa-files-o"></i>
                      <span>Gov. Notifications</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-internal-updates">
                      <i class="fa fa-th"></i>
                      <span>Internal Updates</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-gstone-videos">
                      <i class="fa fa-th"></i>
                      <span>GstOne channel Videos</span>
                    </a>
                  </li>
        
                  <!-- <li>
                            <a routerLink="/admin-goods-services">
                              <i class="fa fa-th"></i>
                              <span>Goods/Services</span>
                            </a>
                          </li> -->
        
                  <!-- <li>
                    <a routerLink="/admin-work-returns">
                      <i class="fa fa-envelope"></i>
                      <span>Work on Returns</span>
                    </a>
                  </li> -->
                  <li>
                    <a routerLink="/admin-about-us">
                      <i class="fa fa-th"></i>
                      <span>About Us page </span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-privacy-policy">
                      <i class="fa fa-th"></i>
                      <span>Privacy policy</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-contact-us">
                      <i class="fa fa-th"></i>
                      <span>Contact us</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-faqs">
                      <i class="fa fa-th"></i>
                      <span>FAQ</span>
                    </a>
                  </li>
        
                </ul>
              </section>
        
            </aside>

    <!-- side bar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>&nbsp; </h1>
        <ol class="breadcrumb">
          <li>
            <a href="index.html">
              <i class="fa fa-dashboard"></i> Home</a>
          </li>
          <li class="active">HSN Code List</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-info">
          <div class="row">

            <div class="col-md-8 col-xs-12">
              <div class="box-header">
                <h3 class="text-blue">HSN Code List</h3>
              </div>
            </div>

            <div class="col-md-2 col-xs-12">
              <div class="text-right">
                <input type="file" class="upload" (change)="onCSVFilePicked($event.target.files)" value="Import CSV" accept=".csv">
              </div>
            </div>

            <div class="col-md-2 col-xs-12">
              <div class="text-right">
                <input type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-user-lg" value="Add New">
              </div>
            </div>

            <div class="clearfix"></div>

            <!-- <div class="col-md-3 col-xs-12">
              <div class="form-group">
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
            </div> -->
            <div class="col-md-3 col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                <div class="input-group-addon">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
            <div></div>

            <!-- <div class="col-md-3 col-xs-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-md-3 col-xs-12">
              <input type="text" class="form-control">
            </div> -->

            <div class="col-lg-12 col-xs-12">

              <!-- /.box-header -->
              <div class="table-responsive no-padding">

                <table class="table table-condensed  table-hover table-bordered">
                  <thead>
                    <tr>
                      <th width="5%">#</th>
                      <th width="20%">HSN Code</th>
                      <th width="40%">Description</th>
                      <th width="10%">Rate</th>
                      <!-- <th width="12%">Status</th> -->
                      <th width="25%" class="text-center">Action</th>
                    </tr>
                  </thead>

                  <ng-template ngFor let-item [ngForOf]="hsnCodeData">
                    <tbody>
                      <tr class="header" (ngModel)="item">
                        <td align="center">{{ hsnCodeData.indexOf(item) }}</td>
                        <td align="center">{{ item.code }}</td>
                        <td align="center">{{item.description}}</td>
                        <td align="center">{{item.rate}}</td>
                        <!-- <td align="center">
                          <div *ngIf="item.status==0">
                            <span class="label label-success">Approved</span>
                          </div>
                          <div *ngIf="item.status==1">
                            <span class="label label-warning">Pending</span>
                          </div>
                          <div *ngIf="item.status==2">
                            <span class="label label-warning">Declined</span>
                          </div>
                        </td> -->


                        <td align="center">
                          <i class="fa fa-eye btn btn-primary btn-sm" title="View"></i>
                          <a href="" data-toggle="modal" data-target=".bs-user-lg-edit">
                            <button class="fa fa-edit btn btn-warning btn-sm" title="Update" (click)="editHSNRecord(item,hsnCodeData.indexOf(item))"></button>
                          </a>
                          <a href="" data-toggle="modal" data-target=".bs-delete-sm">
                            <button class="fa fa-trash btn btn-danger btn-sm" title="Delete" (click)="deleteHSNRecord(item)"></button>
                          </a>
                        </td>
                      </tr>
                      <!-- <tr *ngFor="let row of item.data">
                          <td>{{ row.a }}</td>
                        </tr> -->
                    </tbody>
                  </ng-template>

                </table>

                <!-- TABLE -->

                <ul class="pagination btn-sm">
                  <li class="active">
                    <a href="#">1</a>
                  </li>
                  <li>
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#">4</a>
                  </li>
                  <li>
                    <a href="#">5</a>
                  </li>
                </ul>
              </div>

            </div>

          </div>
        </div>


      </section>
      <!-- /.content -->
    </div>

    <!-- User Form Start -->

    <div class="modal fade bs-user-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
              <span class="modal-text" aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title modal-text"> Add HSN Code</h4>
          </div>
          <div class="modal-body">
            <div class="service-section">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <form [formGroup]="myForm" novalidate (ngSubmit)="save( myForm.valid)">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <input type="text" class="form-control" placeholder="HSN Code" name="statename" id="statename" required formControlName="hsn_code">
                      <small [hidden]="myForm.controls.hsn_code.valid || (myForm.controls.hsn_code.pristine && !submitted)">
                        HSN Code is required (minimum 2 characters).
                      </small>
                    </div>

                    <!-- Description -->

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <input type="text" class="form-control" placeholder="Description" name="description" id="description" required formControlName="description">
                      <small [hidden]="myForm.controls.description.valid || (myForm.controls.description.pristine && !submitted)">
                        Description is required !
                      </small>
                    </div>

                    <!-- Description -->

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <input type="text" class="form-control" placeholder="Rate" name="statecode" required formControlName="rate">
                      <small [hidden]="myForm.controls.rate.valid || (myForm.controls.rate.pristine && !submitted)">
                        Rate is required (minimum 2 characters).
                      </small>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">

                      <select class="form-control" formControlName="selectedStatusType" required>
                        <option value="-1" name="Select Status" selected="selected">Select Status</option>
                        <option *ngFor="let item of statusDropDown">{{item.desc}}</option>
                      </select>
                      <small *ngIf="myForm.controls.selectedStatusType.value=='-1' && submitted">
                        Please select status !
                      </small>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <button type="submit" class="btn btn-primary">Add State</button>
                      <button type="button" class="btn btn-success pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- User Form end -->

    <!-- delete Start -->

    <div class="modal fade bs-delete-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="modal-text" aria-hidden="true">X</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="service-section">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h4 class="text-blue">Are You Sure HSN Code Delete
                      <br>
                      <br>
                    </h4>
                  </div>

                  <div class="form-group ">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Yes">
                    <input type="button" class="btn btn-primary pull-right" data-dismiss="modal" value="No">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- delete end  -->

    <!-- Editing Of HSN Code -->

    <div class="modal fade bs-user-lg-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" #closeBtn2 aria-label="Close">
              <span class="modal-text" aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title modal-text"> Edit HSN Code</h4>
          </div>
          <div class="modal-body">
            <div class="service-section">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <form [formGroup]="myForm_edit" novalidate (ngSubmit)="update( myForm_edit.valid)">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <input [value]="hsnRowData.code" type="text" class="form-control" placeholder="HSN Code" name="hsn_code_edit" id="hsn_code_edit"
                        required formControlName="hsn_code_edit">
                      <small [hidden]="myForm_edit.controls.hsn_code_edit.valid || (myForm_edit.controls.hsn_code_edit.pristine && !submitted_edit)">
                        HSN Code is required (minimum 2 characters).
                      </small>
                    </div>

                    <!-- Description -->

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <input [value]="hsnRowData.description" type="text" class="form-control" placeholder="Description" name="description_edit"
                        id="description_edit" required formControlName="description_edit">
                      <small [hidden]="myForm_edit.controls.description_edit.valid || (myForm_edit.controls.description_edit.pristine && !submitted_edit)">
                        Description is required !
                      </small>
                    </div>

                    <!-- Description -->

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <input [value]="hsnRowData.rate" type="text" class="form-control" placeholder="Rate" name="rate_edit" required formControlName="rate_edit">
                      <small [hidden]="myForm_edit.controls.rate_edit.valid || (myForm_edit.controls.rate_edit.pristine && !submitted_edit)">
                        Rate is required (minimum 2 characters).
                      </small>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <select class="form-control" formControlName="selectedStatusType_edit" required [(ngModel)]="selectedStatusTypeDrop">
                        <option [ngValue]="-1" name="Select Status">Select Status</option>
                        <option *ngFor="let item of statusDropDown" [ngValue]="item.desc">{{item.desc}}</option>
                      </select>
                      <small *ngIf="myForm_edit.controls.selectedStatusType_edit.value=='-1' && submitted_edit">
                        Please select status !
                      </small>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-success pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Editing HSN Code -->

    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2017
        <a href="">GST</a>.</strong> All rights reserved.
    </footer>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery 3 -->
  <!-- <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/gst-admin.min.js"></script> -->
</body>