<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>&nbsp; </h1>
  <ol class="breadcrumb">
    <li>
      <a href="index.html">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">HSN Code List</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box box-info">
    <div class="row">

      <div class="col-md-8 col-xs-6">
        <div class="box-header">
          <h3 class="text-blue">
            <b>HSN Code List</b>
          </h3>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 text-right">

        <a data-toggle="modal" data-target=".bs-upload-sm">
          <input type="button" class="btn btn-primary" value="Import/Export">
        </a>

        <a href="#" data-toggle="modal" data-target=".bs-goodsForm-lg">
          <input type="button" class="btn btn-success" value="Add New" (click)="resetForm()">
        </a>
      </div>

      <div class="clearfix"></div>

      <!--- -->

      <div class="col-lg-12 col-xs-12">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#Goods" data-toggle="tab" (click)="getList(true)">Goods</a>
            </li>
            <li>
              <a href="#Services" data-toggle="tab" (click)="getList(false)">Services</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane section-top-20" id="Goods">
              <!-- Post -->

              <div class="col-md-4 col-xs-12">
                <div class="input-group section-bottom-20">
                  <input type="text" [(ngModel)]="codeValue" placeholder="HSN Code" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="input-group section-bottom-20">
                  <input type="text" [(ngModel)]="searchString" placeholder="Description" class="form-control" data-inputmask="'alias': 'ip'"
                    data-mask>
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="col-lg-12 col-xs-12">

                <!-- /.box-header -->
                <div class="table-responsive no-padding scroll">
                  <!-- Goods -->
                  <table class="table table-condensed  table-hover table-bordered">
                    <thead>
                      <tr>
                        <th width="5%">#</th>
                        <th width="15%">HSN Code</th>
                        <th width="43%">Description</th>
                        <th width="8%">CGST</th>
                        <th width="8%">SGST</th>
                        <th width="8%">IGST</th>
                        <!-- <th width="12%">Status</th> -->
                        <th width="12%" class="text-center">Action</th>
                      </tr>
                    </thead>

                    <!-- <ng-template ngFor let-item [ngForOf]="hsnCodeData"> -->

                    <tbody>
                      <!-- <tr class="header" (ngModel)="item"> -->
                      <!-- <tr *ngFor="let item of hsnCodeData | updateFilter:searchString  ;let i = index;"> -->
                      <tr *ngFor="let item of goodsData | hsnCodeFilter:searchString |hsnCodeFilter:codeValue   ; let i = index;">
                        <!-- <td align="center">{{ hsnCodeData.indexOf(item) }}</td> -->
                        <td align="center">{{goodsPager.pageSize * (goodsPager.currentPage-1)+i+1}}</td>
                        <td align="center">{{ item.hsn_code }}</td>
                        <td align="center">{{item.description}}</td>
                        <td align="center">{{item.cgst}}</td>
                        <td align="center">{{item.sgst}}</td>
                        <td align="center">{{item.igst}}</td>

                        <td align="center">
                          <!-- <i class="fa fa-eye btn btn-primary btn-sm" title="View"></i> -->
                          <a data-toggle="modal" data-target=".bs-goodsFormEdit-lg">
                            <button class="fa fa-edit btn btn-warning btn-sm" title="Update" (click)="editHSNRecord(item)"></button>
                          </a>
                          <a data-toggle="modal" data-target=".bs-delete-sm">
                            <button class="fa fa-trash btn btn-danger btn-sm" title="Delete" (click)="recordToBeDeleted(item)"></button>
                          </a>
                        </td>
                      </tr>
                      <!-- <tr *ngFor="let row of item.data">
                                                    <td>{{ row.a }}</td>
                                                  </tr> -->
                    </tbody>
                    <!-- </ng-template> -->

                  </table>

                  <!-- TABLE -->

                  <ul class="pagination btn-sm" *ngIf="isGoodsSelected==true && goodsData?.length > 1">
                    <li [ngClass]="{disabled:goodsPager.currentPage === 1}">
                      <a *ngIf="goodsPager.currentPage > 1" (click)="getAllGoods(goodsPager.currentPage - 1)">Previous</a>
                    </li>

                    <li [ngClass]="{disabled:goodsPager.currentPage === 1}">
                      <a *ngIf="goodsPager.currentPage ==1">Previous</a>
                    </li>

                    <li *ngFor="let page of goodsPager.pages" [ngClass]="{active:goodsPager.currentPage === page}">
                      <a (click)="getAllGoods(page)">{{page}}</a>
                    </li>

                    <li [ngClass]="{disabled:goodsPager.currentPage === goodsPager.endPage}">
                      <a *ngIf="goodsPager.currentPage < goodsPager.endPage" (click)="getAllGoods(goodsPager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:goodsPager.currentPage === goodsPager.endPage}">
                      <a *ngIf="goodsPager.currentPage == goodsPager.endPage">Next</a>
                    </li>
                  </ul>
                </div>

              </div>

              <!-- /.post -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane section-top-20" id="Services">

              <div class="col-md-4 col-xs-12">
                <div class="input-group section-bottom-20">
                  <input type="text" placeholder="HSN Code" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="input-group section-bottom-20">
                  <input type="text" placeholder="Description" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>


              <div class="col-lg-12 col-xs-12">

                <!-- /.box-header -->
                <div class="table-responsive no-padding scroll">

                  <table class="table table-condensed  table-hover table-bordered">
                    <thead>
                      <tr>
                        <th width="5%">#</th>
                        <th width="15%">SAC Code</th>
                        <th width="43%">Description</th>
                        <th width="8%">CGST</th>
                        <th width="8%">SGST</th>
                        <th width="8%">IGST</th>
                        <!-- <th width="12%">Status</th> -->
                        <th width="12%" class="text-center">Action</th>
                      </tr>
                    </thead>

                    <!-- <ng-template ngFor let-item [ngForOf]="hsnCodeData"> -->

                    <tbody>
                      <!-- <tr class="header" (ngModel)="item"> -->
                      <!-- <tr *ngFor="let item of hsnCodeData | updateFilter:searchString  ;let i = index;"> -->
                      <tr *ngFor="let item of servicesData ; let i = index;">
                        <!-- <td align="center">{{ hsnCodeData.indexOf(item) }}</td> -->
                        <!-- <td align="center">{{servicesPager.pageSize * (servicesPager.currentPage-1)+servicesData.indexOf(item)+1}}</td> -->
                        <td align="center">{{servicesPager.pageSize * (servicesPager.currentPage-1)+i+1}}</td>
                        <td align="center">{{ item.hsn_code }}</td>
                        <td align="center">{{item.description}}</td>
                        <td align="center">{{item.cgst}}</td>
                        <td align="center">{{item.sgst}}</td>
                        <td align="center">{{item.igst}}</td>


                        <td align="center">
                          <!-- <i class="fa fa-eye btn btn-primary btn-sm" title="View"></i> -->
                          <a data-toggle="modal" data-target=".bs-goodsFormEdit-lg">
                            <button class="fa fa-edit btn btn-warning btn-sm" title="Update" (click)="editHSNRecord(item)"></button>
                          </a>
                          <a data-toggle="modal" data-target=".bs-delete-sm">
                            <button class="fa fa-trash btn btn-danger btn-sm" title="Delete" (click)="recordToBeDeleted(item)"></button>
                          </a>
                        </td>
                      </tr>
                      <!-- <tr *ngFor="let row of item.data">
                                <td>{{ row.a }}</td>
                              </tr> -->
                    </tbody>
                    <!-- </ng-template> -->

                  </table>

                  <!-- TABLE -->

                  <ul class="pagination btn-sm" *ngIf="isGoodsSelected===false && servicesData?.length > 1">
                    <li [ngClass]="{disabled:servicesPager.currentPage === 1}">
                      <a *ngIf="servicesPager.currentPage > 1" (click)="getAllServices(servicesPager.currentPage - 1)">Previous</a>
                    </li>

                    <li [ngClass]="{disabled:servicesPager.currentPage === 1}">
                      <a *ngIf="goodsPager.currentPage ==1">Previous</a>
                    </li>

                    <li *ngFor="let page of servicesPager.pages" [ngClass]="{active:servicesPager.currentPage === page}">
                      <a (click)="getAllServices(page)">{{page}}</a>
                    </li>

                    <li [ngClass]="{disabled:servicesPager.currentPage === servicesPager.endPage}">
                      <a *ngIf="servicesPager.currentPage < servicesPager.endPage" (click)="getAllServices(servicesPager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:servicesPager.currentPage === servicesPager.endPage}">
                      <a *ngIf="servicesPager.currentPage == servicesPager.endPage">Next</a>
                    </li>
                  </ul>
                </div>

              </div>

            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
      </div>




      <!-- -->



    </div>
  </div>


</section>
<!-- /.content -->

<!-- User Form Start -->

<div class="modal fade bs-goodsForm-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <!-- <h4 ><span *ngIf="isGoodsSelected==true" class="modal-title modal-text">Add Goods</span></h4> -->
        <h4 class="modal-title modal-text">Add Goods/Services</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <form [formGroup]="goodsForm" novalidate (ngSubmit)="save( goodsForm.valid)">

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <select formControlName="selectCategory" class="form-control" required>
                    <option value="Select Category">Select Category</option>
                    <option value="Goods">Goods</option>
                    <option value="Services">Services</option>
                  </select>
                  <small *ngIf="goodsForm.controls.selectCategory=='Select Category' && submitted">
                    Select Category !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" maxlength="15" min="1" class="form-control" placeholder="HSN Code" name="hsn_code" id="hsn_code" required formControlName="hsn_code">
                  <small *ngIf="goodsForm.controls.hsn_code.errors && submitted">
                    HSN Code is required !
                  </small>
                </div>

                <!-- Description -->

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <textarea rows="4" type="text" maxlength="500" class="form-control" placeholder="Description" name="description" id="description" required
                    formControlName="description"></textarea>
                  <small [hidden]="goodsForm.controls.description.valid || (goodsForm.controls.description.pristine && !submitted)">
                    Description is required !
                  </small>
                </div>

                <!-- Description -->


                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" step="0.01" min="0" maxlength="5" class="form-control" placeholder="CGST" name="cgst" required formControlName="cgst">
                  <small *ngIf="goodsForm.controls.cgst.errors && submitted">
                    CGST is required !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" step="0.01" min="0" maxlength="5" class="form-control" placeholder="SGST" name="sgst" required formControlName="sgst">
                  <small *ngIf="goodsForm.controls.sgst.errors && submitted">
                    SGST is required !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" step="0.01" min="0" maxlength="5" class="form-control" placeholder="IGST" name="statecode" required formControlName="igst">
                  <small *ngIf="goodsForm.controls.igst.errors  && submitted">
                    IGST is required !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <textarea rows="3" type="text" class="form-control" placeholder="Condition" name="comment" formControlName="comment"></textarea>
                  <!-- <small [hidden]="goodsForm.controls.comment.valid || (goodsForm.controls.comment.pristine && !submitted)">
                    Condition is required !
                  </small> -->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="button" class="btn btn-success pull-right" data-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- User Form end -->

<!-- Good Edit Form -->

<div class="modal fade bs-goodsFormEdit-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeEditModal aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title modal-text">Edit</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <form [formGroup]="goodsFormEdit" novalidate (ngSubmit)="update( goodsFormEdit.valid)">

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <select formControlName="selectCategory" class="form-control" required [(ngModel)]="selectCategory">
                    <option value="Select Category">Select Category</option>
                    <option value="Goods">Goods</option>
                    <option value="Services">Services</option>
                  </select>
                  <small *ngIf="goodsFormEdit.controls.selectCategory=='Select Category' && submitted">
                    Select Category !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" min="0" class="form-control" placeholder="HSN Code" name="statename" id="statename" required formControlName="hsn_code">
                  <small *ngIf="goodsFormEdit.controls.hsn_code.errors && submitted">
                    HSN Code is required !
                  </small>
                </div>

                <!-- Description -->

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <textarea rows="4" maxlength="500" type="text" class="form-control" placeholder="Description" name="description" id="description" required
                    formControlName="description"></textarea>
                  <small [hidden]="goodsFormEdit.controls.description.valid || (goodsFormEdit.controls.description.pristine && !submitted)">
                    Description is required !
                  </small>
                </div>

                <!-- Description -->


                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" min="0" step="0.1" maxlength="5" class="form-control" placeholder="CGST" name="cgst" required formControlName="cgst">
                  <small *ngIf="goodsFormEdit.controls.cgst.errors  && submitted">
                    CGST is required !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" min="0" step="0.1" maxlength="5" class="form-control" placeholder="SGST" name="sgst" required formControlName="sgst">
                  <small *ngIf="goodsFormEdit.controls.sgst.errors && submitted">
                    SGST is required !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="number" min="0" step="0.1" maxlength="5" class="form-control" placeholder="IGST" name="statecode" required formControlName="igst">
                  <small *ngIf="goodsFormEdit.controls.igst.errors  && submitted">
                    IGST is required !
                  </small>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <textarea rows="3" maxlength="500" type="text" class="form-control" placeholder="Condition" name="comment" formControlName="comment"></textarea>
                  <!-- <small [hidden]="goodsFormEdit.controls.comment.valid || (goodsFormEdit.controls.comment.pristine && !submitted)">
                      Condition is required !
                    </small> -->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <button type="submit" class="btn btn-primary">Update</button>
                  <button type="button" class="btn btn-success pull-right" data-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Goods Edit Form End -->


<!-- Services Add Form -->


<!-- Services End Add Form -->


<!-- Services Edit Form Start -->


<!-- sErvices Edit Form End -->

<!-- delete Start -->

<div class="modal fade bs-delete-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4 class="text-blue">Sure, you want to delete ?
                  <br>
                  <br>
                </h4>
              </div>

              <div class="text-center">
                <input type="button" class="btn btn-success" (click)="deleteHSNRecord()" data-dismiss="modal" value="Yes"> &nbsp; &nbsp;
                <input type="button" class="btn btn-primary" data-dismiss="modal" value="No">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- delete end  -->

<!-- Editing Of HSN Code -->

<div class="modal fade bs-upload-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeChoose aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="text-blue text-center">Choose Import/Export</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center section-top-10 section-bottom-40">
              <a data-toggle="modal" data-target=".bs-Import-sm">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Import Excel/CSV">
              </a> &nbsp; &nbsp; &nbsp;
              <a data-toggle="modal" data-target=".bs-Export-sm">
                <input type="button" class="btn btn-primary" data-dismiss="modal" value="Export Excel/CSV ">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bs-Import-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeCsv aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="text-blue text-center">Import Customer data</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row" align="center">
            <div class="col-md-12 col-sm-12 col-xs-12 section-top-10 section-bottom-20">
              <p align="center">Please choose Excel/CSV file</p>
              <br>

              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1">
                <!-- <input type="file" value=""> -->
                <input class="btn btn-success" type="file" (change)="onCSVFilePicked($event.target.files)" accept=".csv,.xlsx">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                <input type="button" class="btn btn-primary" value="Upload" (click)="uploadCsvFileToServer()">
              </div>
            </div>
            <p *ngIf="ifSuccess==true" class="text-info text-center">Successfully file uploaded</p>
          </div>
          <div align="center">
            <input type="button" class="btn btn-success" data-dismiss="modal" value="Close">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade bs-Export-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="text-blue text-center">Export Customer data</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row" align="center">
            <div class="col-md-12 col-sm-12 col-xs-12 section-top-10 section-bottom-20">
              <!-- <p align="center">Please choose Excel/CSV file</p> -->
              <br>
              <div align="center">
                <input type="button" class="btn btn-primary" value="Download" (click)="downloadJSONTOCSV()">
              </div>
            </div>
            <p *ngIf="isDownloadSuccessful==true" class="text-info text-center">Download Complete !</p>
          </div>
          <div align="center">
            <input type="button" (click)="closeDownloadModal()" class="btn btn-success" data-dismiss="modal" value="Close">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>