<section class="unicod-section unicod-pricing-fild  section-top-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="unicod-section-title-one">
          <h2 class="comon-color">FAQ </h2>
          <div class="collor-bottom-one"></div>
          <p>Filing GST return under the GST regime is crucial as non-compliance and delay will result in penalties and affect
            your compliance rating and timely refunds.</p>
        </div>
      </div>




      
      <div class="col-md-8 col-sm-6">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" *ngFor="let item of faqsList ;let i = index;">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{pageSize * (currentPage-1)+i+1}}">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                  {{pageSize * (currentPage-1)+i+1}} {{item.question}}</a>
              </h4>
            </div>
            <div id="collapseOne{{pageSize * (currentPage-1)+i+1}}" class="panel-collapse collapse">
              <div class="panel-body">
                <p>{{item.answer}}</p>
              </div>
            </div>
          </div>
          <!-- <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Who has to file GST Returns?</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>In the GST regime, any regular business has to file three monthly returns and one annual return. This amounts
                  to 37 returns in a year.</p>

                <p>The beauty of the system is that one has to manually enter details of one monthly return – GSTR-1. The other
                  two returns – GSTR 2 & 3 will get auto-populated by deriving information from GSTR-1 filed by you and your
                  vendors.</p>

                <p>There are separate returns required to be filed by special cases such as composition dealers .</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> 3. What are the types of GST Returns?</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Here is a list of all the returns to be filed under the GST Law along with the due dates.</p>
                <p>Here is a video to understand who should file GST Return and why should it be filed :</p>
                <br>
                <iframe id="_ytid_98395" width="100%" height="473" src="https://www.youtube.com/embed/L8dvBG_u9-A?enablejsapi=1&autoplay=0&cc_load_policy=0&iv_load_policy=1&loop=0&modestbranding=0&rel=1&showinfo=1&playsinline=0&autohide=2&theme=dark&color=red&wmode=opaque&vq=&controls=2&"
                  frameborder="0" class="__youtube_prefs__" allowfullscreen data-no-lazy="1"></iframe>
              </div>
            </div>
          </div> -->

          <!-- <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> 4. Late Fees for not Filing Return on Time</a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>If GST Returns are not filed within time, you will be liable to pay interest and a late fee.</p>

                <p>Interest is 18% per annum. It has to be calculated by the tax payer on the amount of outstanding tax to be
                  paid. Time period will be from the next day of filing (26th/ 29th Aug) to the date of payment.</p>

                <p>Late fee is Rs. 100 per day per Act. So it is 100 under CGST & 100 under SGST. Total will be Rs. 200/day.
                  Maximum is Rs. 5,000. There is no late fee on IGST.</p>
                <div class="well">
                  <p>Update: Late fees of GSTR-3B for July, Aug & Sep have been waived off.Please refer Notification No.28 /2017
                    (Central Tax) & tweet by Hon’ble FM Arun Jaitely</p>
                  <p>The late fees already paid for Aug & Sep will be credited back to the electronic cash ledger.</p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="well">
          <ul class="tabile">
            <li>You are now using GST Software</li>
            <li>No download required. Use it in your browser</li>
            <li>Create all invoices and file GST Returns</li>
            <li>Free training to help you with using GST Software</li>
            <li>Work offline with Excel Utility Tool</li>
            <li>You can attend our Free training conducted by GST Experts in English & Hindi to help you understand GST & GST
              software</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- REGISTRATION Start -->

<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content section-salect">
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">
              <div class="col-md-4 col-sm-6 text-center">
                <div class="unicod-service-col">
                  <h4>&nbsp;
                    <br>Business User
                    <br> &nbsp;</h4>
                </div>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Select</button>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
                <div class="unicod-service-col">
                  <h4>Charted Accountant
                    <br> Associate
                    <br> Tax Practioner</h4>
                </div>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Select</button>
              </div>
              <div class="col-md-4 col-sm-6 text-center">
                <div class="unicod-service-col">
                  <h4>&nbsp;
                    <br>Business User Other
                    <br>&nbsp;</h4>
                </div>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Select</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- REGISTRATION End -->

<!-- After REGISTRATION Form Start -->

<div class="modal fade bs-REGISTRATION2-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title modal-text"> REGISTRATION</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">

              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="Name" name="name" id="name" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="Contact No." name="contact" id="contact" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="PAN No." name="pan_no" id="pan_no" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="GSTIN" name="gstin" id="gstin" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="Address" name="address" id="address" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <select class="form-control">
                  <option value="" selected="selected"> -- Select State -- </option>
                  <option value="">Jabalpur</option>
                  <option value="">Bhopal</option>
                  <option value="">Raipur</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="City" name="city" id="city" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="Paasword" name="paasword" id="paasword" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" class="form-control" placeholder="Confirm Paasword" name="confirm_paasword" id="confirm_paasword" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="button" class="btn btn-primary" value="Create Account">
              </div>
              <button type="button" class="btn btn-link pull-right" data-dismiss="modal" data-toggle="modal" data-target=".bs-login-sm">Already have Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- After REGISTRATION Form end -->

<!-- Login Start -->

<div class="modal fade bs-login-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title modal-text"> LOGIN</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <form action="" enctype="multipart/form-data">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="password" class="form-control" placeholder="Paasword" name="paasword" id="paasword" required>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group text-center">
                  <a href="branch_list.html">
                    <input type="button" class="btn btn-success btn-block" value="Log In">
                  </a>
                </div>
              </div>
            </form>
          </div>

          <button type="button" class="btn btn-link pull-left" data-dismiss="modal" data-toggle="modal" data-target=".bs-REGISTRATION2-lg">Create Account</button>
          <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target=".bs-ForgotPassword-sm">Forgot Password</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- login end Start -->
<!-- Login Start -->

<div class="modal fade bs-ForgotPassword-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="modal-text" aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title modal-text"> Forgot Password</h4>
      </div>
      <div class="modal-body">
        <div class="service-section">
          <div class="row">
            <form action="user.html" enctype="multipart/form-data">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <input type="text" class="form-control" placeholder="Email Id" name="email" id="email" required>
                </div>

                <div class="form-group  text-center">
                  <input type="button" class="btn btn-primary" value="Forgot Password">
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- login end Start -->