<section class="unicod-section unicod-pricing-fild  section-top-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="unicod-section-title-one">
          <h2 class="comon-color">FAQ </h2>
          <div class="collor-bottom-one"></div>
          <p>Filing GST return under the GST regime is crucial as non-compliance and delay will result in penalties and affect
            your compliance rating and timely refunds.</p>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 scroll">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" *ngFor="let item of faqsList ;let i = index;">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{pageSize * (currentPage-1)+i+1}}">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                  {{pageSize * (currentPage-1)+i+1}} {{item.question}}</a>
              </h4>
            </div>
            <div id="collapseOne{{pageSize * (currentPage-1)+i+1}}" class="panel-collapse collapse">
              <div class="panel-body">
                <p>{{item.answer}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 col-sm-6">
        <div class="well">
          <ul class="tabile">
            <li>You are now using GST Software</li>
            <li>No download required. Use it in your browser</li>
            <li>Create all invoices and file GST Returns</li>
            <li>Free training to help you with using GST Software</li>
            <li>Work offline with Excel Utility Tool</li>
            <li>You can attend our Free training conducted by GST Experts in English & Hindi to help you understand GST & GST
              software</li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</section>